<template>
  <div
    v-if="finishConfig.message || finishConfig.sub_message"
    class="l-chat__success"
  >
    <!-- <div class="l-chat__success__logo">
      <img :src="`${domain}/images/default/success__logo.png`"
        alt="">
    </div> -->
    <div
      v-if="finishConfig.message"
      class="l-chat__success__title"
    >
      {{ finishConfig.message }}
    </div>
    <div
      v-if="finishConfig.sub_message"
      class="l-chat__success__subtitle"
    >
      {{ finishConfig.sub_message }}
    </div>
    <!-- <div class="l-chat__success__buttons"> -->
    <!-- <button class="l-chat__button l-chat__button--light">Перейти в группу VK</button> -->
    <!-- <button class="l-chat__button l-chat__button--light">Перейти на главную</button>
      <button class="l-chat__button l-chat__button--light">Читать отзывы</button>
      <button class="l-chat__button l-chat__button--light">Контакты</button> -->
    <!-- </div> -->
  </div>
</template>
<script>
export default {
  props: {
    links: Array,
    domain: String,
    finishConfig: Object
  }
};
</script>
