<template>
  <div
    class="l-chat__box"
    :class="{'l-chat__box-widget' : typeRender == 'button'}"
  >
    <div
      class="l-chat"
      :style="{backgroundColor: design.background_color, backgroundImage: `url('${design.background}')`}"
      :class="{'l-chat__widget' : typeRender == 'button', 'open' : true, 'l-chat__modal': typeRender == 'modal'}"
    >
      <simplebar
        class="l-chat__body"
        data-simplebar-auto-hide="false"
      >
        <div class="l-chat__list">
          <transition-group
            tag="div"
            :css="false"
            @before-enter="beforeEnter"
            @enter="enter"
            @leave="leave"
          >
            <Item
              v-for="(message, i) in dialog"
              :key="message + i"
              :type-item="message.type"
              :domain="domain"
              :item-data="message"
              :design="design"
              :is-preview="isReadOnlyMode"
              @sendAnswer="sendAnswer"
            />

            <ResultForm
              v-if="lastMessage && showResultForm"
              key="resultForm"
              :design="design"
              :settigs="contactSettings"
              @send="sendForm"
            />

            <Finish
              v-if="finish"
              key="finishMessage"
              :finish-config="finishConfig"
              :domain="domain"
            />
          </transition-group>
          <div
            class="l-chat__typing"
            :class="{'show' : isTyping}"
          >
            {{ design.title }} печатает <div class="l-chat__typing-animate">
              <div class="l-chat__typing-box">
                ... <img
                  :src="`${domain}/images/default/edit.svg`"
                  alt=""
                >
              </div>
            </div>
          </div>
        </div>
      </simplebar>
      <div class="l-chat__footer">
        <div
          v-if="devMode"
          class="l-chat__footer__buttons"
        >
          <button
            class="btn btn-green"
            @click="startDialog"
          >
            Старт
          </button>
          <button
            class="btn btn-grey"
            @click="resetDialog"
          >
            Сброс
          </button>
        </div>
        <div class="l-chat__footer-item">
          <img
            :src="`${domain}/images/default/small_logo.png`"
            alt="leedbot"
          >
          <a
            href="#"
            @click.prevent="goToUrl('https://leedbot.ru')"
          >Работает на Leedbot</a>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import Vue from 'vue';
import VeeValidate from 'vee-validate';
import veeValidateConfig from '@/js/configs/veeValidate';

import simplebar from 'simplebar-vue';
import SimpleBar from 'simplebar';
import 'simplebar/dist/simplebar.css';
import { _equalArrays, _containsArrays } from '@/js/helpers/equalArrays';
import WidgetApi from '@/js/api/WidgetApi';
import listAnimanion from './mixins/listAnimanion';

import Item from './Item';
import ResultForm from './ResultForm';
import Finish from './Finish';
Vue.use(VeeValidate, veeValidateConfig);

export default {
  name: 'Chat',
  components: {
    simplebar,
    Item,
    ResultForm,
    Finish
  },
  mixins: [listAnimanion],
  props: {
    model: Array,
    config: Object,
    devMode: {
      type: Boolean,
      default: false
    },
    typeRender: {
      default: 'default'
    },
    buttonSettings: Object,
    dialogPreview: {
      type: Array,
      default: null
    }
  },
  data() {
    return {
      domain: process.env.MIX_APP_URL,
      dialog: [],
      currentQuestion: {},
      lastMessage: false,
      finish: false,
      simplebar: null,
      simplebarBox: null,
      TIME_OUT_QUESTION: 3000,
      TIME_OUT_ANSWER: 0,
      design: this.config.design,
      finishConfig: this.config.finish,
      contactSettings: this.config.contact_setting,
      chatWidgetIsOpen: false,
      domain: process.env.MIX_APP_URL,
      isReadOnlyMode: false,
      isTyping: false,
      timerStartRender: null,
      timerStartTyping: null
    };
  },

  computed: {
    relations() {
      return this.model.filter(el => el.data.source);
    },
    questions() {
      return this.model.filter(el => !el.data.source);
    },
    widgetButtonStyle() {
      return {
        color: this.buttonSettings.color,
        backgroundColor: this.buttonSettings.background
      };
    },
    showResultForm() {
      return (
        this.config.contact_setting.email_status == 2 ||
        this.config.contact_setting.name_status == 2 ||
        this.config.contact_setting.phone_status == 2 ||
        this.config.contact_setting.message != ''
      );
    }
  },
  watch: {
    dialog() {
      this.scrollList();
    },
    dialogPreview(val) {
      this.dialog = val;
    }
  },
  mounted() {
    this.simplebar = new SimpleBar(document.querySelector('.l-chat__body'));
    this.simplebarBox = document.querySelector(
      '.l-chat__body .simplebar-wrapper'
    );
    if (this.dialogPreview) {
      this.dialog = this.dialogPreview;
      this.isReadOnlyMode = true;
    } else if (this.model.length && this.typeRender == 'modal') {
      this.startDialog();
    }
    const listenerIframe = ({ data }) => {
      if (data == 'start') {
        this.startDialog();
      }
    };
    window.addEventListener('message', listenerIframe, false);
  },
  methods: {
    startDialog() {
      this.resetDialog();
      this.renderMessage(this.getFirsMessage(), false, true);
    },
    scrollList() {
      this.$nextTick(() => {
        this.simplebar.scrollContentEl.scrollTop =
          this.simplebarBox.scrollHeight + 100;
      });
    },

    resetDialog() {
      this.dialog = [];
      this.lastMessage = false;
      this.finish = false;
      this.isTyping = false;
      clearTimeout(this.timerStartTyping);
      clearTimeout(this.timerStartRender);
      clearTimeout(this.timerLasMessage);
    },

    getFirsMessage() {
      let firstElemnt = null;
      this.model.forEach(el => {
        const sourceIn = this.model.filter(s => s.data.source == el.data.id);
        const targetIn = this.model.filter(s => s.data.target == el.data.id);
        if (sourceIn.length && !targetIn.length) {
          firstElemnt = el;
        }
      });
      return firstElemnt ? firstElemnt : this.model[0];
    },

    searchRelation(question, answer) {
      const sources = this.relations.filter(
        el => el.data.source == question.id
      );
      const nextElement = [];
      sources.forEach(el => {
        const next = this.checkCondition(el, answer);
        if (next) nextElement.push(next);
      });
      if (nextElement.length) {
        this.renderMessage(nextElement[0]);
      } else {
        this.timerStartTyping = setTimeout(() => (this.isTyping = true), 2500);
        this.timerLasMessage = setTimeout(() => {
          this.lastMessage = true;
        }, this.TIME_OUT_QUESTION);
        this.scrollList();
      }
    },

    checkCondition({ data: relation }, answer) {
      const targets = this.questions.filter(
        el => el.data.id == relation.source
      );
      const nextElement = this.questions.filter(
        el => el.data.id == relation.target
      )[0];

      if (this.hasCondition(relation)) {
        if (relation.sourceData.anyAnswer) {
          return nextElement;
        } else if (this.isSkip(relation, answer)) {
          return nextElement;
        } else if (
          this.equalCond(relation.condition, relation.title, answer.title)
        ) {
          return nextElement;
        }
      } else {
        return nextElement;
      }
      return false;
    },

    hasCondition(relation) {
      return relation.title || relation.skip;
    },

    isSkip(relation, answer) {
      return relation.skip && answer.skip;
    },

    isMultiple(relation, answer) {
      return (
        relation.title && relation.sourceData.multipleChoice && !answer.skip
      );
    },

    equalString(text1, text2) {
      if (Array.isArray(text1) || Array.isArray(text2)) return false;
      return text1.trim().toLowerCase() === text2.trim().toLowerCase();
    },

    equalCond(condition, question, userAnswer) {
      const title = Array.isArray(question) ? question : [question];
      const answer = Array.isArray(userAnswer) ? userAnswer : [userAnswer];

      switch (condition.type) {
      case 'under':
        return Number(question) > Number(userAnswer);
        break;
      case 'equally':
        return Number(question) === Number(userAnswer);
        break;
      case 'more':
        return Number(question) < Number(userAnswer);
        break;
      case 'contains':
        if (condition.compareExact) {
          return _equalArrays(title, answer);
        } else {
          return _containsArrays(title, answer);
        }
        break;
      case 'notContains':
        if (condition.compareExact) {
          return !_equalArrays(title, answer);
        } else {
          return !_containsArrays(title, answer);
        }
        break;
      default:
        return false;
        break;
      }
    },
    getCurrentTime(){
      return new Date().toLocaleString('ru', {
        month: 'long',
        day: 'numeric',
        hour: 'numeric',
        minute: 'numeric'
      });
    },
    renderMessage({ data }, isAnswer = false, startDialog=false) {
      const questionRenderTimeOut = startDialog ? 0 : this.TIME_OUT_QUESTION;
      this.timerStartTyping = setTimeout(() => (this.isTyping = true), 2500);
      data.time = this.getCurrentTime();
      if (data.type !== 'answer') {
        this.currentQuestion = data;
      }
      if (isAnswer) {
        this.dialog.push(data);
      }

      this.timerStartRender = setTimeout(() => {
        this.isTyping = true
        if (!isAnswer) {
          this.dialog.push(data);
        }
        if (data.type == 'info') {
          this.searchRelation(this.currentQuestion);
        }
      }, questionRenderTimeOut);
    },

    sendAnswer(answer, skip) {
      console.log('answer', answer);
      const data = {
        title: answer,
        type: 'answer',
        skip
      };
      if (!skip) {
        this.renderMessage({ data }, true);
      }
      setTimeout(() => {
        this.searchRelation(this.currentQuestion, data);
      }, this.TIME_OUT_ANSWER);
    },

    sendForm(form) {
      const data = { ...form, ...{ messages: JSON.stringify(this.dialog) } };
      WidgetApi.store(this.config.uuid, data).then(res => {
        this.scrollList();
        this.finish = true;
        if (this.finishConfig.redirect_url_status == 2) {
          setTimeout(() => {
            window.top.location.href = this.finishConfig.redirect_url;
          }, 3000);
        }
      });
    },
    goToUrl(url) {
      // const win = window.top.open(url, "_blank");
      // win.focus();
      window.top.location.href = url;
    }
  }
};
</script>

<style lang="scss">
@import "../../../sass/_mixins.scss";
@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap");

@mixin small-width {
  .l-chat__list {
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 11px;
    padding-right: 11px;
  }
  .l-chat__avatar {
    width: 32px;
    height: 33px;
    margin-top: 20px;
    margin-right: 10px;
  }
  .l-chat__date {
    font-size: 14px;
    margin-bottom: 5px;
  }
  .l-chat__block {
    max-width: initial;
  }
  .l-chat__controls {
    &--end {
      justify-content: flex-end;
      .l-chat__button:last-of-type {
        margin-right: 0;
      }
    }
    &--result {
      max-width: 210px;
    }
    .l-chat__button--send {
      margin-left: auto;
      margin-right: 0;
    }
  }
  .l-chat__message {
    font-size: 14px;
    padding: 15px 20px;
  }
  .l-chat__slider {
    min-width: 255px;
    margin-left: -33px;
  }
  .l-chat__item--user .l-chat__avatar {
    margin-left: 10px;
  }
  .l-chat__button {
    padding: 0 23px;
    height: 41px;
    font-size: 16px;
    &--large-text {
      height: initial;
    }
    &--send {
      width: 46px;
      height: 46px;
      padding: 0;
      font-size: 0;
      .icon {
        right: 3px;
        width: 25px;
        height: 16px;
      }
    }
  }
  .l-chat__success {
    padding: 35px 0px;
    width: 100%;
  }
  .l-chat__success__buttons {
    flex-direction: column;
  }
  .l-chat__success__buttons .l-chat__button {
    margin-bottom: 10px;
    width: 100%;
  }
  .vue-mini-calendar__layout {
    margin-left: -40px;
  }
  .vue-mini-calendar__title {
    font-size: 14px;
  }

  //scrollbar
  .simplebar-track {
    right: 4px !important;
    width: 3px;
  }
  .simplebar-content {
    overflow-x: hidden !important;
  }
  .simplebar-scrollbar {
    right: 0;
    min-height: 10px;
    width: 3px;
    &::before {
      width: 3px;
    }
  }
  .l-chat__typing {
    margin-left: 45px;
    font-size: 12px;
    &-box img {
      width: 12px;
      height: 12px;
    }
  }
}

.l-chat {
  border-radius: 10px;
  background-color: #ecf0f9;
  background-repeat: repeat;
  overflow: hidden;
  font-family: "Lato", sans-serif;
  height: 100%;
  &__box {
    position: relative;
    height: 100%;
    &-widget {
      padding: 30px;
      box-sizing: border-box;
    }
  }
  &__modal {
    height: 70vh;
  }
  &__widget {
    box-shadow: -3px 9px 19px 2px rgba(0, 0, 0, 0.13);
    height: 100%;
    width: 100%;
    max-width: 360px;
    z-index: 1000;
    transform: translateX(500px);
    opacity: 0;
    transition: 1s;
    &.open {
      transform: translateX(0);
      opacity: 1;
    }
    &__btn {
      position: fixed;
      bottom: 20px;
      right: 30px;
      z-index: 1000;
    }
    @include small-width();
  }
  &__modal {
    border-radius: 0;
    .l-chat__list {
      padding-left: 30px;
    }
  }
  &__body {
    margin-top: 10px;
    margin-bottom: 10px;
    overflow: hidden;
    width: 100%;
    overflow-x: hidden;
    height: calc(100% - 82px);
    display: flex;
    flex-direction: column;
  }

  &__list {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-top: 30px;
    padding-bottom: 60px;
    padding-left: 77px;
    padding-right: 40px;
    @include respond(ipad) {
      padding: 30px 40px 40px 30px;
    }
  }
  @include respond(phone) {
    @include small-width();
  }
  &__footer {
    height: 62px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #e3e7f0;
    padding-left: 30px;
    padding-right: 30px;
    &-item {
      display: flex;
      align-items: center;
      opacity: 0.8;
      color: #252525;
      //   font-family: Lato;
      font-size: 14px;
      font-weight: 400;
      img {
        width: 21px;
        height: 21px;
        margin-right: 5px;
      }
      a {
        color: inherit;
      }
    }
    &__buttons {
      margin-right: auto;
    }
  }
  &__item {
    display: flex;
    margin-bottom: 15px;
    // max-height: 1000px;
    // overflow: hidden;
    &--user {
      width: 100%;
      align-self: flex-end;
      flex-direction: row-reverse;
      .l-chat__messages {
        align-items: flex-end;
      }
      .l-chat__message {
        background-color: #01c853;
        color: #ffffff;
      }
      .l-chat__avatar {
        margin-right: 0;
        margin-left: 20px;
        background-image: url("../../../images/default/user_avatar.png");
      }
      .l-chat__date {
        text-align: right;
      }
    }
  }
  &__avatar {
    width: 60px;
    height: 60px;
    background-image: url("../../../images/default/bot_avatar.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #5b83f4;
    margin-right: 20px;
    flex-shrink: 0;
    border-radius: 50%;
    margin-top: 27px;
  }
  &__block {
    min-width: 60%;
    max-width: 90%;
  }
  &__messages {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  &__date {
    opacity: 0.5;
    color: #252525;
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 8px;
  }
  &__message {
    display: inline-block;
    background-color: #ffffff;
    padding: 15px 20px;
    color: #252525;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 5px;
    &:first-of-type {
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }
    &:last-of-type {
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }
  }
  &__controls {
    margin-top: 10px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    .l-chat__field {
      margin-right: 10px;
      margin-bottom: 15px;
    }
    .l-chat__button {
      margin-bottom: 10px;
    }
  }
  &__button {
    background-color: #a8afbe;
    padding: 0 32px;
    height: 46px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    text-align: center;
    margin-right: 10px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
    border: none;
    transition: 0.5s;
    cursor: pointer;
    &--large-text {
      min-height: 46px;
      height: auto;
      border-radius: 500px;
    }
    &:hover,
    &.select {
      background-color: #01c853;
      box-shadow: inset 0 0 7px rgba(6, 12, 16, 0.18);
    }
    &.hide {
      visibility: hidden;
    }
    &--send {
      box-shadow: none !important;
      background-color: #01c853;
      padding-left: 30px;
      padding-right: 30px;
      .icon {
        background-image: url("../../../images/default/send_icon.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        padding: 0;
        position: relative;
        right: 6px;
        width: 14px;
        height: 14px;
      }
      &:hover {
        background-color: #a8afbe;
      }
    }
    &--light {
      background-color: #ffffff !important;
      box-shadow: none !important;
      color: #252525;
    }
    &.is-open {
      padding: 0 13px;
      height: 46px;
      svg {
        width: 20px;
        fill: currentColor;
      }
    }
  }
  &__slider {
    display: flex;
    align-items: center;
    min-width: 285px;
    &-result {
      height: 46px;
      min-width: 67px;
      width: auto;
      border-radius: 10px;
      background-color: #5b83f4;
      color: #ffffff;
      font-size: 16px;
      font-weight: 500;
      line-height: 1.5;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 21px;
    }
  }
  &__field {
    background-color: #5b83f4 !important;
    color: #ffffff !important;
    box-sizing: border-box;
    &__box {
      position: relative;

      span {
        position: absolute;
        left: 0;
        font-size: 10px;
        color: red;
        bottom: 0px;
      }
    }
    &.error {
      border-color: red;
    }
    &::placeholder {
      color: rgba(#ffffff, 0.5);
    }
    &--textarea {
      border-radius: 10px;
      width: 100%;
      padding: 20px;
    }
    &--input {
      height: 46px;
      border-radius: 23px;
      width: 210px;
      max-width: 100%;
      border: none;
      padding-left: 18px;
      padding-right: 15px;
      border: 1px solid #5b83f4;
    }
    &--time {
      width: initial;
    }
  }
  &__success {
    margin-top: 40px;
    width: calc(100% - 40px);
    border-radius: 10px;
    background-color: #dbe0eb;
    background-image: linear-gradient(to right, #72b3fa 0%, #909bff 100%);
    padding: 35px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    &__logo {
      margin: 30px;
      img {
        max-width: 100%;
        height: auto;
        object-fit: contain;
      }
    }
    &__title {
      color: #ffffff;
      font-weight: 700;
      font-size: 36px;
    }
    &__subtitle {
      color: #ffffff;
      font-weight: 700;
      font-size: 24px;
      margin-bottom: 40px;
    }
    &__buttons {
      display: flex;
      justify-content: center;
      align-items: center;
      .l-chat__button {
        margin-right: 7.5px;
        margin-left: 7.5px;
      }
    }
  }

  .simplebar-track {
    border-radius: 5px;
    background-color: #ffffff;
    right: 10px;
    overflow: hidden;
  }
  .simplebar-scrollbar {
    border-radius: 3px;
    background-color: #5b83f4;
    &::before {
      background: #5b83f4;
    }
  }
  .simplebar-track.horizontal {
    display: none !important;
  }
  .simplebar-placeholder {
    height: auto !important;
  }
  .simplebar-content {
    overflow-x: hidden !important;
  }
  .slider__dot {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    background-color: #ffffff;
    background-image: linear-gradient(to right, #72b3fa 0%, #909bff 100%);
    border-radius: 50%;
    transform: translate(0, -4px);
    &::before {
      content: "";
      display: inline-block;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: #ffffff;
    }
  }
  .vue-slider-rail {
    box-shadow: inset 0 0 7px rgba(6, 12, 16, 0.09);
    border-radius: 5px;
    background-color: #dee3ee;
  }

  .vue-mini-calendar__header {
    background: #ffffff;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid #ebebeb;
    color: #656972;
  }
  .vue-mini-calendar__weekday {
    border: none;
    background-color: #ffffff;
  }
  .vue-mini-calendar__selected {
    width: 35px;
    height: 35px;
    background-color: rgba(#beedd1, 0.7);
    border-radius: 50%;
    color: #161616;
  }
  .vue-mini-calendar__day,
  .vue-mini-calendar__weekday {
    width: 35px;
  }
  .vue-mini-calendar {
    min-width: initial;
  }
  .vue-mini-calendar__weekdays,
  .vue-mini-calendar__week {
    justify-content: center;
  }
  .vue-mini-calendar {
    padding-bottom: 15px;
    border-radius: 0 0 10px 10px;
  }
  &__typing {
    display: flex;
    align-items: baseline;
    margin-left: 82px;
    opacity: 0;
    color: #888a8f;
    transform: translateY(5px);
    @include respond(phone) {
      margin-left: 45px;
    }
    &-animate {
      width: 27px;
      overflow: hidden;
      margin-left: 5px;
    }
    &-box {
      display: flex;
      img {
        width: 14px;
        height: 20px;
      }
    }
    &.show {
      opacity: 1;
      transform: translateY(0);
      transition: 0.5s;
      .l-chat__typing-box {
        animation: typing 1s infinite;
      }
    }
  }
}
@keyframes typing {
  from {
    transform: translateX(-30%);
  }
  to {
    transform: translateX(0px);
  }
}
.simplebar-wrapper {
  width: 100%;
}
</style>
