<template>
  <div class="l-chat__item"
    :class="{'l-chat__item--user' : typeItem === 'answer'}">
    <div class="l-chat__avatar"
      :style="botAvatar"></div>
    <div class="l-chat__block">
      <div class="l-chat__date">{{ itemData.time }}</div>
      <div class="l-chat__messages">

        <div class="l-chat__message"
          :style="messageStyles">
          {{  prettyMessage(itemData.title) }}
        </div>

        <template v-if="typeItem === 'entry' && !isPreview">
          <textarea name=""
            v-model="userAnswer"
            class="l-chat__field l-chat__field--textarea"
            rows="10"
            :disabled="questionPassed"></textarea>
        </template>
      </div>
      <div class="l-chat__controls "
        v-if="!isPreview">

        <template v-if="typeItem === 'question'">

          <button class="l-chat__button l-chat__button--large-text"
            v-for="answer in itemData.answers"
            :key="answer"
            :disabled="questionPassed"
            :class="{'select': Array.isArray(userAnswer) ? userAnswer.includes(answer): false}"
            @click="itemData.multipleChoice ? selectAnswer(answer) : sendAnswer(answer, false)">{{answer}}</button>

        </template>

        <template v-else-if="typeItem === 'date'">
          <vueMiniCalendar v-model="userAnswer"
            :disabled="questionPassed"
            @input="sendAnswer(false,false)"
            :config="config" />
        </template>

        <template v-else-if="typeItem === 'time'">
          <input type="time"
            min="00:00"
            max="23:59"
            class="l-chat__field l-chat__field--input l-chat__field--time"
            v-model="userAnswer">
        </template>

        <template v-else-if="typeItem === 'slider'">
          <div class="l-chat__slider">
            <vue-slider v-model="userAnswer"
              :min="+itemData.minVal"
              :max="+itemData.maxVal"
              :width="'100%'"
              :height="10"
              :disabled="questionPassed"
              :process-style="{ backgroundColor: '#dee3ee' }"
              :tooltip="'none'">
              <template v-slot:dot="{ value, focus }">
                <div class="slider__dot"
                  :class="['custom-dot', { focus }]"></div>
              </template>
            </vue-slider>
            <div class="l-chat__slider-result">
              {{ userAnswer }}
            </div>
          </div>
        </template>

        <template v-else-if="typeItem === 'droplist'">
          <dropdownSelect :list="transformSelectList(itemData.answers)"
            :multiple="itemData.multipleChoice"
            :disabled="questionPassed"
            v-model="userAnswer" />
        </template>

      </div>
      <div class="l-chat__controls l-chat__controls--end"
        v-if="!isPreview">

        <button class="l-chat__button"
          v-if="showSkipButton"
          :class="{'hide' : itemData.required}"
          :disabled="questionPassed"
          @click="sendAnswer(false, true)">Пропустить</button>
        <button class="l-chat__button l-chat__button--send"
          v-if="showSendButton || itemData.multipleChoice"
          :disabled="sendDisabled"
          @click="sendAnswer(false, false)"> <i class="icon"
            :style="sendBtnImg"></i> Отправить</button>
      </div>
    </div>
  </div>
</template>
<script>
import VueSlider from "vue-slider-component";
import "vue-slider-component/theme/default.css";

import vueMiniCalendar from "vue-mini-calendar/src/vueMiniCalendar";

import dropdownSelect from "@/js/components/dropdownSelect";

export default {
  props: {
    typeItem: String,
    itemData: Object,
    design: Object,
    domain: String,
    isPreview: {
      type: Boolean,
      default: false
    }
  },
  components: {
    VueSlider,
    vueMiniCalendar,
    dropdownSelect
  },
  data() {
    return {
      config: {
        mode: "single",
        rangeSeparator: " — ",
        multipleSeparator: ", ",
        format: "dd.MM.yyyy",
        firstDayOfWeek: 7,
        weekDays: ["Вс", "Пн", "Вт", "Ср", "Чт", "Пт", "Сб"],
        months: [
          "Январь",
          "Февраль",
          "Март",
          "Апрель",
          "Май",
          "Июнь",
          "Июль",
          "Август",
          "Сентябрь",
          "Октябрь",
          "Ноябрь",
          "Декабрь"
        ],
        show: "calendar"
      },
      userAnswer: this.getInitialUserAnwer(),
      questionPassed: false
    };
  },
  methods: {
    transformSelectList(list) {
      return list.map(el => ({ name: el, value: el }));
    },
    sendAnswer(answer, skip = false) {
      if (this.questionPassed) return false;
      const answerResult =
        this.typeItem == "question" && !this.itemData.multipleChoice
          ? answer
          : this.userAnswer;
      this.$emit("sendAnswer", answerResult, skip);
      this.questionPassed = true;
    },
    selectAnswer(answer) {
      const includeIndex = this.userAnswer.indexOf(answer);
      if (includeIndex !== -1) {
        this.userAnswer = this.userAnswer.splice(includeIndex, 1);
      } else {
        this.userAnswer.push(answer);
      }
    },
    prettyMessage(message) {
      if (Array.isArray(message)) {
        return message.join(", ");
      } else {
        return message;
      }
    },
    getInitialUserAnwer() {
      if (this.typeItem == "slider") {
        return this.itemData.minVal || 0;
      } else if (this.itemData.multipleChoice) {
        return [];
      }
      return "";
    }
  },
  computed: {
    showSendButton() {
      return !["info", "question", "answer", "date"].includes(this.typeItem);
    },
    showSkipButton() {
      return !["info", "answer"].includes(this.typeItem);
    },
    messageStyles() {
      return {
        backgroundColor:
          this.typeItem === "answer"
            ? this.design.answer_color
            : this.design.question_color,
        color:
          this.typeItem === "answer"
            ? this.design.font_answer_color
            : this.design.font_question_color
      };
    },
    botAvatar() {
      if (this.typeItem === "answer")
        return {
          backgroundImage: `url(${this.domain}/images/default/user_avatar.png)`
        };
      if (!this.design.avatar)
        return {
          backgroundImage: `url(${this.domain}/images/default/bot_avatar.png)`
        };
      return { backgroundImage: `url(${this.domain + this.design.avatar})` };
    },
    sendBtnImg() {
      return {
        backgroundImage: `url(${this.domain}/images/default/send_icon.png)`
      };
    },
    buttonStyle() {
      return { backgroundColor: this.design.button_color };
    },
    sendDisabled() {
      return (
        this.questionPassed ||
        !this.userAnswer ||
        (Array.isArray(this.userAnswer) && !this.userAnswer.length)
      );
    }
  }
};
</script>
