<template>

  <div class="l-chat__item">
    <div class="l-chat__avatar"
      :style="botAvatar"></div>
    <div class="l-chat__block">
      <div class="l-chat__date">{{ time }}</div>
      <div class="l-chat__messages">
        <div class="l-chat__message"
          v-if="settigs.message"
          :style="messageStyles">
          {{settigs.message}}
        </div>
      </div>
      <form class="l-chat__controls l-chat__controls--result"
        data-vv-scope="contacts">

        <div class="l-chat__field__box">
          <input type="text"
            v-if="settigs.name_status == 2"
            :title="settigs.name_hints"
            v-model="form.name"
            v-validate="'required'"
            name="name"
            class="l-chat__field l-chat__field--input"
            :class="{'error': errors.first('contacts.name')}"
            :placeholder="settigs.name_hints || 'Имя'">

        </div>
        <div class="l-chat__field__box">
          <input type="email"
            v-if="settigs.email_status == 2"
            v-model="form.email"
            v-validate="'required'"
            name="email"
            class="l-chat__field l-chat__field--input"
            :class="{'error': errors.first('contacts.email')}"
            :placeholder="settigs.email_hints || 'E-mail'">

        </div>
        <div class="l-chat__field__box">
          <input type="tel"
            v-if="settigs.phone_status == 2"
            v-mask="settigs.phone_mask"
            v-model="form.phone"
            v-validate="{
                required: true,
                min: settigs.phone_mask.length,
                max: settigs.phone_mask.length,
            }"
            name="phone"
            class="l-chat__field l-chat__field--input"
            :class="{'error': errors.first('contacts.phone')}"
            :placeholder="settigs.phone_hints || 'Телефон'">

        </div>

        <button type="button"
          class="l-chat__button l-chat__button--send "
          @click="sendForm"><i class="icon"
            :style="sendBtnImg"></i> Отправить</button>
      </form>
    </div>
  </div>

</template>
<script>
import { mask } from "vue-the-mask";
export default {
  props: {
    design: Object,
    settigs: Object
  },
  directives: { mask },
  data() {
    return {
      domain: process.env.MIX_APP_URL,
      time: new Date().toLocaleString("ru", {
        month: "long",
        day: "numeric",
        hour: "numeric",
        minute: "numeric"
      }),
      form: {
        name: "",
        email: "",
        phone: ""
      }
    };
  },
  methods: {
    async sendForm() {
      const valid = await this.$validator.validate("contacts.*");
      if (!valid) return false;
      this.$emit("send", this.form);
    }
  },
  computed: {
    messageStyles() {
      return {
        backgroundColor: this.design.question_color,
        color: this.design.font_question_color
      };
    },
    botAvatar() {
      if (this.typeItem === "answer")
        return {
          backgroundImage: `url(${this.domain}/images/default/user_avatar.png)`
        };
      if (!this.design.avatar)
        return {
          backgroundImage: `url(${this.domain}/images/default/bot_avatar.png)`
        };
      return { backgroundImage: `url(${this.domain + this.design.avatar})` };
    },
    sendBtnImg() {
      return {
        backgroundImage: `url(${this.domain}/images/default/send_icon.png)`
      };
    },
    buttonStyle() {
      return { backgroundColor: this.design.button_color };
    }
  }
};
</script>

