@import '../mixins';

// Header begin
body,
html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Lato";
    font-weight: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('../../fonts/Lato-Regular.woff2') format('woff2'), url('../../fonts/Lato-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('../../fonts/Lato-Black.woff2') format('woff2'), url('../../fonts/Lato-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

// @font-face {
//     font-family: 'Lato';
//     src: url('../../fonts/Lato-Medium.woff2') format('woff2'), url('../../fonts/Lato-Medium.woff') format('woff');
//     font-weight: 500;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'Lato';
//     src: url('../../fonts/Lato-Thin.woff2') format('woff2'), url('../../fonts/Lato-Thin.woff') format('woff');
//     font-weight: 100;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'Lato';
//     src: url('../../fonts/Lato-Semibold.woff2') format('woff2'), url('../../fonts/Lato-Semibold.woff') format('woff');
//     font-weight: 600;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'Lato Hairline';
//     src: url('../../fonts/Lato-Hairline.woff2') format('woff2'), url('../../fonts/Lato-Hairline.woff') format('woff');
//     font-weight: 100;
//     font-style: normal;
// }

@font-face {
    font-family: 'Lato-Heavy';
    src: url('../../fonts/Lato-Heavy.woff2') format('woff2'), url('../../fonts/Lato-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('../../fonts/Lato-Bold.woff2') format('woff2'), url('../../fonts/Lato-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

// @font-face {
//     font-family: 'Lato';
//     src: url('../../fonts/Lato-Italic.woff2') format('woff2'), url('../../fonts/Lato-Italic.woff') format('woff');
//     font-weight: normal;
//     font-style: italic;
// }

@font-face {
    font-family: 'Lato';
    src: url('../../fonts/Lato-Light.woff2') format('woff2'), url('../../fonts/Lato-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

.container {
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    @include respond(ipad) {
        max-width: 740px;
    }
    @include respond(phone) {
        max-width: 100%;
    }
}

.l-header {
    position: relative;
    width: 100%;
    background-image: url('../../images/default/hero.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 50px;
    padding-bottom: 60px;
    box-sizing: border-box;
    @include rh('950px'){
        padding-top: 20px;
        padding-bottom: 50px;
    }
    @include respond(phone) {
        padding-top: 21px;
        padding-bottom: 50px;
    }

    &::after {
        content: '';
        background-image: url('../../images/default/clip-hero.png');
        width: 100%;
        padding-bottom: 3.25%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        left: 0;
        bottom: -1px;
        z-index: 0;
    }

    &--bg {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: #1f1f1f;
        opacity: 0.65;
        z-index: 0;
    }

    &__box {
        width: 100%;
        height: 100%;
        flex-grow: 1;
        position: relative;
        z-index: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: 860px;
        // min-height: 70vh;
        @include rh('950px'){
            min-height: 70vh;
        }
        @include respond(ipad) {
            min-height: 505px;
        }
        @include respond(phone) {
            min-height: 385px;
        }
    }

    &__logo {
        position: absolute;
        top: 0;
        left: 15px;

        img {
            max-width: 200px;
            max-height: 70px;
            height: auto;
            object-fit: contain;
            @include respond(phone) {
                max-width: 50%;
                max-height: 90px;
            }
        }
    }
    p{
        margin: 0;
    }
    &__title {
        color: #ffffff;
        // font-size: 42px;
        font-size: 48px;
        font-weight: 900;
        max-width: 930px;
        margin-top: 80px;
        @include rh('950px'){
           font-size: 42px;
        }
        @include respond(ipad) {
            font-size: 30px;
        }
        @include respond(phone) {
            font-size: 20px;
        }

        &::after {
            content: '';
            display: block;
            width: 131px;
            height: 4px;
            border-radius: 2px;
            background-color: #01c853;
            margin-top: 40px;
            margin-bottom: 30px;
            @include respond(ipad) {
                margin-top: 37px;
                margin-bottom: 22px;
            }
            @include respond(ipad) {
                margin-top: 14px;
                margin-bottom: 19px;
            }
        }
    }

    &__description {
        color: #ffffff;
        font-size: 30px;
        line-height: 1.2;
        font-weight: 300;
        margin-bottom: 120px;
        @include respond(ipad) {
            font-size: 20px;
        }
        @include respond(ipad) {
            font-size: 16px;
        }
    }
}
// Header end

// Advantages begin
.l-advantages {
    display: flex;
    align-items: stretch;
    position: relative;
    bottom: 140px;
    width: 100%;
    justify-content: center;
    @include respond(ipad) {
        bottom: 100px;
    }
    @include respond(phone) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__item {
        display: flex;
        flex-direction: column;
        // justify-content: center;
        align-items: center;
        background-image: url('../../images/default/advantages-bg.jpg');
        background-size: 102% 100%;
        background-position: center;
        width: 323px;
        min-height: 224px;
        border-radius: 15px;
        box-shadow: -1px 4px 37px 3px rgba(0, 0, 0, 0.13);
        padding-top: 45px;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 15px;
        box-sizing: border-box;
        @include respond(ipad) {
            min-height: 160px;
            max-width: 100%;
            padding-top: 34px;
        }

        &:nth-of-type(2n) {
            margin-left: 35px;
            margin-right: 35px;
            @include respond(ipad) {
                margin-left: 24px;
                margin-right: 24px;
            }
            @include respond(phone) {
                margin: 15px 0;
            }
        }

        &-head {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            flex-shrink: 0;
        }

        &-icon {
            width: 47px;
            height: 47px;
            background-image: url('../../images/default/tools.png');
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            @include respond(ipad) {
                width: 33px;
                height: 33px;
            }
        }

        &-line {
            content: '';
            display: block;
            width: 75px;
            height: 3px;
            background-color: #01c853;
            margin-top: 29px;
            margin-bottom: 29px;
            @include respond(ipad) {
                margin-top: 20px;
                margin-bottom: 20px;
            }
            @include respond(phone) {
                margin-top: 15px;
                margin-bottom: 15px;
            }
        }

        &-title {
            color: #1c1c1c;
            font-family: "Lato-Heavy";
            font-size: 20px;
            text-align: center;
            word-break: break-all;
            @include respond(ipad) {
                font-size: 16px;
            }
            @include respond(phone) {
                font-size: 14px;
            }
        }
    }
}
// Advantages end


// Chatbot begin
.l-chatbot {
    background-image: url('../../images/default/background-main.png');
    background-position: center top;
    background-size: auto;
    padding-bottom: 40px;
}

.l-chat {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    &-page{
        height: calc(70vh + 62px);
        box-shadow: -3px 9px 19px 2px rgba(0, 0, 0, 0.13);
        border-radius: 10px;
        background-color: #ecf0f9;
    }
    @include respond(phone) {
       max-width: 320px;
    }
}
// Chatbot end
.l-footer{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    a{
        opacity: 0.8;
        color: #252525;
        font-size: 14px;
        font-weight: 400;
        transition: color 0.5s;
        &:visited, &:active{
            color: #252525;
        }
        &:hover{
            color: #01c853;
        }
    }
}
