.v-leedbot_ru__widget {
    &__button {
        background-color: #a8afbe;
        padding: 0 32px;
        height: 46px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        border-radius: 30px;
        text-align: center;
        margin-right: 10px;
        color: #ffffff;
        font-size: 16px;
        font-weight: 700;
        line-height: 1.5;
        border: none;
        transition: 0.5s;
        cursor: pointer;
        font-size: 16px;
        &:focus {
            outline: none;
        }
        svg {
            display: none;
        }
        &.is-open {
            padding: 0 13px;
            height: 46px;
            svg {
                display: inline-block;
                width: 20px;
                fill: currentColor;
            }
            .v-leedbot_ru__widget__text {
                display: none;
            }
        }
    }
}
