.sidebar-content {
    &-box {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
    }
    &__main-nav {
        flex-grow: 1;
    }
}
.loader {
    height: calc(100vh - 160px);
    display: flex;
    justify-content: center;
    align-items: center;
    color: $primary;
}
.c-read-only {
    opacity: 0.6;
    pointer-events: none;
}
.isDisabled {
    color: currentColor;
    cursor: not-allowed;
    opacity: 0.5;
    text-decoration: none;
    pointer-events: none;
}

.not-active {
    filter: grayscale(1);
}

@supports not (filter: grayscale(1)) {
    .not-active {
        opacity: 0.9;
    }
}

a[disabled="disabled"] {
    pointer-events: none;
    opacity: 0.6;
    cursor: none;
}

.text-overflow {
    width: 100%;
    overflow: hidden;
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: left;
}

.text-second {
    color: #00d0d0;
}
.select2-container {
    width: 100% !important;
}
.input__box {
    position: relative;
    i {
        color: #e25b5b;
        position: absolute;
        right: 10px;
        top: 35px;
    }
}

.hidden {
    opacity: 0;
    position: absolute;
    z-index: -10;
    pointer-events: none;
}
.fade-enter-active,
.fade-leave-active {
    //   max-height: 1000px;
    //   overflow: hidden;
    transition: 0.5s;
    //   transform: translateY(0);
}
.fade-enter,
.fade-leave-to {
    //   max-height: 0;
    overflow: hidden;
    opacity: 0;
    //   transform: translateY(30px);
}
.top-100 {
    top: 100%;
}
.f-size-14 {
    font-size: 14px;
}
.c-btn {
    background-color: #a8afbe;
    padding: 0 32px;
    height: 46px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    text-align: center;
    margin-right: 10px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
    border: none;
    transition: 0.5s;
    &:hover,
    &.select {
        background-color: #01c853;
        box-shadow: inset 0 0 7px rgba(6, 12, 16, 0.18);
    }
}
.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}
.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#main-container {
    position: relative;
}

.btn-green {
    color: #ffffff;
    background-color: $colorGreen;
    border-color: $colorGreen;
    &:hover {
        background-color: rgba($colorGreen, 0.7);
        color: #ffffff;
    }
}
.btn-blue {
    color: #ffffff;
    background-color: $colorBlue;
    border-color: $colorBlue;
    &:hover {
        background-color: rgba($colorBlue, 0.8);
        color: #ffffff;
    }
}
.btn-grey {
    color: #ffffff;
    background-color: $colorGrey;
    border-color: $colorGrey;
    &:hover {
        background-color: rgba($colorGrey, 0.8);
        color: #ffffff;
    }
}
.btn-black {
    color: #000000;
    background-color: #ffffff;
    border-color: #a8afbe;
    &:hover {
        background-color: rgba(#000000, 0.8);
        color: #ffffff;
    }
}
.bg-blue{
    color: #ffffff;
    background-color: $colorBlue !important;
}
.css-switch.css-control-green{
     .css-control-input:checked ~ .css-control-indicator{
         background-color: $colorGreen;
     }
}

.list-group-item.active{
    background-color: $colorBlue;
    border-color: $colorBlue;
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link{
    background-color: $colorBlue;
}
