//Media Start
$xs: 599px;
$sl: 767px;
$sm: 768px;
$md: 1100px;
$xl: 1460px;
@mixin respond($media) {
  @if $media==phone {
    @media only screen and (max-width: $xs) {
      @content;
    }
  } @else if $media==tablet {
    @media only screen and (max-width: $sl) {
      @content;
    }
  } @else if $media==ipad {
    @media only screen and (max-width: $sm) {
      @content;
    }
  } @else if $media==smalldesk {
    @media only screen and (max-width: $md) {
      @content;
    }
  } @else if $media==desktop {
    @media only screen and (max-width: $xl) {
      @content;
    }
  }
  // respond height
  @else if $media==desktopHeight {
    @media only screen and (max-height: 900px) {
      @content;
    }
  }
}
@mixin rw($media) {
  @media only screen and (max-width: $media) {
    @content;
  }
}
@mixin rh($media) {
  @media only screen and (max-height: $media) {
    @content;
  }
}
//Media End
