<template>
  <div>
    <div class="row">
      <div class="col-md-12">
        <h1>Помощь</h1>
        <p>
          Для Вас мы записали подробную инструкцию, как пользоваться сервисом, вся информация в <a href="/knowledge-base">"Базе знаний"</a>
        </p>
        <p>
          Для тех, кто не любит читать, мы записали видео инструкции.
        </p>
        <p>
          Если, вы не нашли ответ на свой вопрос, просто напишите нам на почту <a href="mailto:support@leedbot.ru">support@leedbot.ru</a>
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <div class="block">
          <div class="block-header block-header-default">
            <h3 class="block-title">Список видео-инстукций</h3>
          </div>
          <div class="block-content">
            <ul class="nav nav-pills flex-column push">
              <li class="nav-item"
                v-for="({title, url}, i) in videos"
                :key="i">
                <a class="nav-link d-flex align-items-center justify-content-between "
                  :class="{'active':currentVideo ==  url}"
                  href="javascript:void(0)"
                  @click="currentVideo = url">
                  <span>{{title}}</span>
                </a>
              </li>
            </ul>
          </div>

        </div>
      </div>
      <div class="col-md-8">
        <div class="videoWrapper">
          <iframe width="100%"
            height="315"
            :src="`https://www.youtube.com/embed/${currentVideo}`"
            frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        </div>
      </div>
    </div>

  </div>
</template>
<script>
export default {
  data() {
    return {
      videos: [
        {
          title: "Как установить чат-бот в виде кнопки на сайт wordpress",
          url: "KAZqKSv4u5A"
        },
        {
          title: "Как установить чат-бот на сайт Tilda",
          url: "Q_D_lfEcqp8"
        },
        {
          title: "Как установить чат-бот отдельным блоком на сайт wordpress",
          url: "n_gfkjGwr2E"
        },
        {
          title: "Как создать Landing page (стартовую страницу)",
          url: "8LquEKiHzv8"
        },
        {
          title: "Как настроить переадресацию",
          url: "eyXO5GanrcM"
        },
        {
          title: "Как проверить работу сценария чат бота",
          url: "K05s_6Eh3oM"
        }
      ],
      currentVideo: "KAZqKSv4u5A"
    };
  }
};
</script>
