<template>
  <div
    id="createChatBotModal"
    class="modal fade"
    tabindex="-1"
    aria-modal="true"
  >
    <div
      class="modal-dialog modal-dialog-popin"
      role="document"
    >
      <div class="modal-content">
        <div class="block block-themed block-transparent mb-0">
          <div class="block-header bg-primary-dark">
            <h3 class="block-title">
              Создать новый проект?
            </h3>
            <div class="block-options">
              <button
                type="button"
                class="btn-block-option"
                data-dismiss="modal"
                aria-label="Close"
              >
                <i class="si si-close" />
              </button>
            </div>
          </div>
          <form
            class="block-content"
            data-vv-scope="bot"
          >
            <inputField
              v-model.trim="title"
              v-validate="{ required: true }"
              label-text="Имя чат-бота"
              name="title"
              input-class="col-md-12"
              :value="title"
              :error="errors.first('bot.title')"
            />
          </form>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-grey"
            data-dismiss="modal"
          >
            Закрыть
          </button>
          <button
            type="button"
            class="btn btn-green"
            data-dismiss="modal"
            :disabled="!title.length"
            @click="create"
          >
            <i class="fa fa-check" /> Создать
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import inputField from '@/js/components/inputField';
export default {
  components: {
    inputField
  },
  props: {
    createHanler: Function
  },
  data() {
    return {
      title: ''
    };
  },
  methods: {
    create() {
      this.$emit('createHanler', { title: this.title });
      this.title = '';
    }
  }
};
</script>
