<template>
  <div>
    <div class="d-flex justify-content-between align-items-center mb-50">
      <h1>Проекты</h1>
      <button
        type="button"
        class="btn btn-green"
        @click="openCreateModal"
      >
        <i class="fa fa-plus mr-5" />
        Создать проект
      </button>
    </div>
    <div class="row">
      <div
        v-for="bot in bots"
        :key="bot.id"
        class="col-md-4 col-lg-3"
        :class="{ 'not-active': bot.status == 1 }"
      >
        <div class="block text-center">
          <div class="block-header">
            <div class="font-w600 text-overflow">
              <i
                class="fa "
                :class="
                  bot.has_page == 2
                    ? 'text-warning fa-newspaper-o'
                    : 'text-danger fa-newspaper-o'
                "
                data-toggle="tooltip"
                data-placement="bottom"
                :title="
                  bot.has_page == 2
                    ? 'Есть страница'
                    : 'Нет страницы'
                "
                :data-original-title="
                  bot.has_page == 2
                    ? 'Есть страница'
                    : 'Нет страницы'
                "
              />
              <a :href="`/chatbots/${bot.id}/construction`">{{
                bot.title
              }}</a>
            </div>
            <div class="block-options">
              <div class="dropdown">
                <button
                  type="button"
                  class="btn-block-option"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  <i class="fa fa-fw fa-ellipsis-v" />
                </button>
                <div
                  class="dropdown-menu dropdown-menu-right"
                  x-placement="bottom-end"
                >
                  <a
                    class="dropdown-item"
                    href="javascript:void(0)"
                    @click="copyBot(bot.id)"
                  >
                    <i class="fa fa-fw fa-copy mr-5" />Скопировать
                  </a>
                  <div class="dropdown-divider" />
                  <a
                    class="dropdown-item"
                    href="javascript:void(0)"
                    @click="toggleStatus(bot.id)"
                  >
                    <span v-if="bot.status == 2">
                      <i class="fa fa-fw fa-eye-slash mr-5" />Отключить
                    </span>
                    <span v-else>
                      <i class="fa fa-fw fa-eye mr-5" />Включить
                    </span>
                  </a>
                  <div class="dropdown-divider" />
                  <a
                    class="dropdown-item"
                    href="javascript:void(0)"
                    @click="deleteBot(bot.id)"
                  >
                    <i class="fa fa-fw fa-times mr-5" />Удалить
                  </a>
                </div>
              </div>
            </div>
          </div>

          <div
            class="
                block-content
                block-content-full
                bg-image"
          >
            <a
              :href="`/requests?chatbot_id=${bot.id}`"
              class="btn btn-green"
            >
              <i class="fa fa-list-alt mr-5" />Заявки ({{
                bot.request_count
              }})</a>
          </div>
          <div class="block-content block-content-full">
            <a
              :href="`/chatbots/${bot.id}/construction`"
              class="btn btn-circle btn-black mr-5 mb-5 js-tooltip-enabled"
              data-toggle="tooltip"
              data-placement="bottom"
              title="Конструктор"
              data-original-title="Конструктор"
            ><i class="fa fa-code-fork" /></a>
            <a
              :href="`/chatbots/${bot.id}/settings`"
              class="btn btn-circle btn-alt-success mr-5 mb-5 js-tooltip-enabled"
              data-toggle="tooltip"
              data-placement="bottom"
              title="Настройки"
              data-original-title="Настройки"
            ><i class="fa fa-cogs" /></a>
            <a
              :href="`/chatbots/${bot.id}/integration`"
              class="btn btn-circle btn-alt-warning mr-5 mb-5 js-tooltip-enabled"
              data-toggle="tooltip"
              data-placement="bottom"
              title="Установка"
              data-original-title="Установка"
            ><i class="fa fa-crosshairs" /></a>
          </div>
        </div>
      </div>
    </div>
    <Pagination
      :params="params"
      :paginate="paginate"
      @changePage="changePage"
    />
    <createModal @createHanler="create" />
  </div>
</template>
<script>
import Chatbots from '@/js/api/Chatbots';
import Chatbot from '@/js/api/Chatbot';
import Pagination from '@/js/components/pagination';
import createModal from '@/js/modules/chatbots/createModal';
import formResultsHandlers from '@/js/mixins/formResultsHandlers';
import 'bootstrap/js/dist/tooltip';
import 'bootstrap/js/dist/modal';

export default {
  components: {
    Pagination,
    createModal
  },
  mixins: [formResultsHandlers],
  data() {
    return {
      bots: [],
      params: {
        page: 1,
        count: 12
      },
      paginate: {
        current_page: 0,
        from: 0,
        last_page: 0
      }
    };
  },
  created() {
    this.getAll(this.params);
  },
  mounted() {},
  methods: {
    getAll(params) {
      Codebase.layout('header_loader_on');
      Chatbots.get(params)
        .then(({ data }) => {
          this.bots = data.data;
          this.paginate = {
            current_page: data.current_page,
            from: data.from,
            last_page: data.last_page
          };
          this.$nextTick(() => $('[data-toggle="tooltip"]').tooltip());
          Codebase.layout('header_loader_off');
        })
        .catch(() => Codebase.layout('header_loader_off'));
    },
    changePage(page) {
      this.params.page = page;
      this.getAll(this.params);
    },
    editBot(id) {
      window.location.assign(`/chatbots/${id}/construction`);
    },
    copyBot(id) {
      Chatbot.duplicate(id).then(res => {
        this.getAll(this.params);
        Swal.fire({
          ...SwalConfig,
          title: 'Бот скопирован',
          type: 'success',
          showCancelButton: false
        });
      });
    },
    deleteBot(id) {
      Swal.fire({
        ...SwalConfig,
        title: 'Удалить?',
        type: 'question',
        showCancelButton: true
      }).then(res => {
        if (res && res.value == true) {
          Chatbot.delete(id).then(res => {
            this.changePage(1);
            Swal.fire({
              ...SwalConfig,
              title: 'Бот удален',
              type: 'success',
              showCancelButton: false
            });
          });
        }
      });
    },
    toggleStatus(id) {
      Chatbot.toggleStatus(id)
        .then(res => {
          Swal.fire({
            ...SwalConfig,
            title: 'Успешно!',
            type: 'success',
            showCancelButton: false
          });
          this.getAll(this.params);
        })
        .catch(error => {
          Swal.fire({
            ...SwalConfig,
            title: error.data.errors,
            type: 'error',
            showCancelButton: false
          });
        });
    },
    openCreateModal() {
      $('#createChatBotModal').modal('show');
    },
    async create(data) {
      const valid = await this.$validator.validate('bot.*');
      if (!valid) return false;
      Chatbot.store(data)
        .then(res => {
          Swal.fire({
            ...SwalConfig,
            title: 'Бот создан',
            type: 'success',
            showCancelButton: false
          });

          this.getAll(this.params);
          $('#createChatBotModal').modal('hide');
        })
        .catch(errors => this.failSend(errors.response, 'bot'));
    }
  }
};
</script>
