<template>
  <form
    data-vv-scope="template"
    @submit.prevent
  >
    <div class="d-flex align-items-center justify-content-between">
      <h1>Стартовая страница/Landing Page</h1>
      <a
        :href="`/page/${chatbot.uuid}`"
        :disabled="chatbot.has_page != 2"
        class="btn btn-blue"
      ><i class="fa fa-eye mr-5" />Просмотр</a>
    </div>
    <div class="c-loader__box">
      <FormLoader v-if="dataIsLoaded" />
      <div class="block block-themed">
        <div class="block-header bg-blue">
          <h3 class="block-title">
            Графический контент страницы
          </h3>
          <div class="block-options" />
        </div>
        <div class="block-content pb-4">
          <div class="row">
            <imagePreview
              v-model="form.background"
              v-validate="'required'"
              class="col-md-4"
              title="Фоновое изображение"
              desc="Добавьте фоновое изображение"
              :image="form.background"
              name="background"
              :can-delete="true"
              :error="errors.first(`template.background`)"
            />
            <imagePreview
              v-model="form.avatar"
              v-validate="''"
              class="col-md-4"
              title="Логотип"
              desc="Добавьте лого проекта"
              :image="form.avatar"
              name="avatar"
              :can-delete="true"
              :error="errors.first(`template.avatar`)"
            />
            <imagePreview
              v-model="form.favicon"
              v-validate="''"
              class="col-md-4"
              title="Favicon страницы"
              desc="Добавьте иконку страницы"
              :image="form.favicon"
              name="favicon"
              :can-delete="true"
              :error="errors.first(`template.favicon`)"
            />
          </div>
        </div>
      </div>
      <div class="block block-themed">
        <div class="block-header bg-blue">
          <h3 class="block-title">
            Текстовый контент страницы
          </h3>
          <div class="block-options" />
        </div>
        <div class="block-content">
          <!-- <inputField labelText="Заголовок страницы"
            name="title"
            v-model="form.title"
            :value="form.title"
            v-validate="'required'"
            :error="errors.first('template.title')" /> -->
          <div class="form-group">
            <label for="">Заголовок страницы</label>
            <ckeditor
              v-model="form.title"
              v-validate="'required'"
              :editor="editor"
              name="title"
              :value="form.title"
              :config="editorConfig1"
            />

            <div
              v-show="errors.first('template.title')"
              class="form-text text-danger"
            >
              {{ errors.first('template.title') }}
            </div>
          </div>
          <div class="form-group">
            <label for="">Подзаголовок страницы</label>
            <ckeditor
              v-model="form.sub_title"
              v-validate="'required'"
              :editor="editor"
              name="sub_title"
              :value="form.sub_title"
              :config="editorConfig2"
            />
            <div
              v-show="errors.first('template.sub_title')"
              class="form-text text-danger"
            >
              {{ errors.first('template.sub_title') }}
            </div>
          </div>

          <!-- <inputField labelText="Подзаголовок страницы"
            name="sub_title"
            v-model="form.sub_title"
            :value="form.sub_title"
            v-validate="''"
            :error="errors.first('template.sub_title')"
            :isTextArea="true" /> -->
          <div class="row mb-20">
            <div
              v-for="(field, i) in form.benefits"
              :key="i"
              class="col-md-4"
            >
              <inputField
                key="username-input"
                v-model="field.text"
                v-validate="'required'"
                :label-text="`Преимущество №${i + 1}`"
                :name="`benefits.${i}.text`"
                input-class="col-md-12"
                :value="field.text"
                :error="errors.first(`template.benefits.${i}.text`)"
              />

              <div class="animated fadeIn">
                <div class="options-container">
                  <input
                    key="image-input"
                    v-model="field.image"
                    v-validate="'required'"
                    type="text"
                    class="hidden"
                    :name="`benefits.${i}.image`"
                  >
                  <img
                    class="img-fluid options-item"
                    :src="field.image || '/images/default/placeholder.jpg'"
                    alt=""
                  >
                  <div class="options-overlay bg-primary-dark-op">
                    <div class="options-overlay-content">
                      <h3 class="h4 text-white mb-10">
                        Иконка
                      </h3>
                      <a
                        class="btn btn-sm btn-rounded btn-alt-success min-width-75"
                        href=""
                        @click.prevent="openIconsLibrary(i)"
                      >
                        <i class="fa fa-plus" /> Выбрать из библиотеки
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div
                v-show="errors.first(`template.benefits.${i}.image`)"
                class="form-text text-danger"
              >
                {{ errors.first(`template.benefits.${i}.image`) }}
              </div>
              <!-- <div class="row mb-20">
                    <loadFileBtn class="col"
                    :image="field.image"
                    v-model="field.image"
                    key="username-input"
                    v-validate="'required'"
                    :name="`benefits.${i}.image`"
                    :error="errors.first(`template.benefits.${i}.image`)"
                    rule="required" />
                </div> -->
            </div>
          </div>
        </div>
      </div>
      <div class="block block-themed">
        <div class="block-header bg-blue">
          <h3 class="block-title">
            Дополнительный настройки: seo блок + основные настройки
          </h3>
          <div class="block-options" />
        </div>
        <div class="block-content">
          <inputField
            v-model="form.seo.title"
            v-validate="''"
            label-text="Title"
            name="seo_title"
            :model="form.seo.title"
            :value="form.seo.title"
            :error="errors.first('template.seo.title')"
          />

          <inputField
            v-model="form.seo.description"
            v-validate="''"
            label-text="Description"
            name="seo_description"
            :value="form.seo.description"
            :error="errors.first('template.seo.description')"
          />

          <inputField
            v-model="form.seo.keywords"
            v-validate="''"
            label-text="Keywords"
            name="seo_keywords"
            :is-text-area="true"
            :value="form.seo.keywords"
            :error="errors.first('template.seo.keywords')"
          />

          <inputField
            v-model="form.seo.policy_url"
            v-validate="{url: {require_protocol: true }}"
            label-text="Ccылка для политики конфиденциальности"
            name="seo.policy_url"
            :value="form.seo.policy_url"
            :error="errors.first('template.seo.policy_url')"
          />
        </div>
      </div>
      <div class="d-flex justify-content-end pb-50">
        <div class="d-flex">
          <button
            class="btn btn-green mr-5"
            type="button"
            :disabled="isLoading"
            @click="sendForm($event, false)"
          >
            <i
              v-show="isLoading && !isWantShow"
              class="fa fa-circle-o-notch fa-spin mr-5"
            />Сохранить
          </button>
          <button
            class="btn btn-green"
            type="button"
            :disabled="isLoading"
            @click="sendForm($event, true)"
          >
            <i
              v-show="isLoading && isWantShow"
              class="fa fa-circle-o-notch fa-spin mr-5"
            />Сохранить и посмотреть
          </button>
        </div>
      </div>
    </div>
    <Modal
      :title="libraryTitle"
      id-modal="iconsModal"
      size-class="modal-lg"
    >
      <IconsLibrary
        @checkIcon="checkIcon"
        @changeTitle="changeLibraryTitle"
      />
    </Modal>
  </form>
</template>
<script>
import imagePreview from '@/js/components/imagePreview';
import inputField from '@/js/components/inputField';
import loadFileBtn from '@/js/components/loadFileBtn';
import Page from '@/js/api/Page';
import objectToFormData from '@/js/helpers/objectToFormData';
import formResultsHandlers from '@/js/mixins/formResultsHandlers';
import ClassicEditor from '@ckeditor/ckeditor5-build-classic';
import '@ckeditor/ckeditor5-build-classic/build/translations/ru';
import Modal from '@/js/components/Modal';
import IconsLibrary from '@/js/components/iconsLibrary';
import 'bootstrap/js/dist/modal';
import FormLoader from '@/js/components/FormLoader';

export default {
  components: {
    imagePreview,
    inputField,
    loadFileBtn,
    Modal,
    IconsLibrary,
    FormLoader
  },
  mixins: [formResultsHandlers],
  data() {
    return {
      form: {
        avatar: null,
        favicon: null,
        background: null,
        title: '',
        sub_title: '',
        benefits: [
          {
            text: '',
            image: null
          },
          {
            text: '',
            image: null
          },
          {
            text: '',
            image: null
          }
        ],
        seo: {
          title: '',
          description: '',
          keywords: '',
          policy_url: ''
        }
      },
      chatbot: window.chatbot,
      isLoading: false,
      isWantShow: false,
      isEditMode: false,
      currentBenefitsId: 0,
      editor: ClassicEditor,
      editorConfig1: {
        language: 'ru',
        initialData: '',
        toolbar: {
          items: ['bold', 'italic', 'link', 'undo', 'redo']
        }
      },
      editorConfig2: {
        language: 'ru',
        initialData: '',
        toolbar: {
          items: ['bold', 'italic', 'link', 'undo', 'redo']
        }
      },
      libraryTitle: 'Библиотека иконок',
      dataIsLoaded: false,
    };
  },
  async created() {
    if (page) {
      this.isEditMode = true;
      try {
        this.dataIsLoaded = true;
        const { data } = await Page.get(chatbotId);
        this.form = data.data;
        this.dataIsLoaded = false;
      } catch (error) {
        console.log('error', { error });
        this.dataIsLoaded = false;
      }
    }
  },
  methods: {
    async sendForm(e, isShow) {
      const valid = await this.$validator.validate('template.*');
      if (!valid) return false;
      const method = this.isEditMode ? 'update' : 'store';
      if (this.isEditMode) {
        this.form._method = 'put';
      }
      if (isShow) this.isWantShow = true;
      const data = objectToFormData(this.form);
      this.isLoading = true;

      Page[method](data, chatbotId)
        .then(res => {
          this.successSend(res);
          console.log(res);
          console.log(res.data.uuid);
          if (isShow) {
            // window.location.assign(`/page/${res.data.data.uuid}`);
            window.open(`/page/${res.data.data.uuid}`, '_blank');
            this.isWantShow = false;
          }
        })
        .catch(errors => {
          this.failSend(errors.response, 'template');
          this.isWantShow = false;
        });
    },
    openIconsLibrary(i) {
      this.currentBenefitsId = i;
      $('#iconsModal').modal('show');
    },
    changeLibraryTitle(title) {
      this.libraryTitle = 'Библиотека иконок' + title;
    },
    checkIcon(path) {
      console.log('path', path);
      this.form.benefits[this.currentBenefitsId].image = path;
      //   this.$validator.validate("template.*");
      this.$nextTick(() => {
        this.$validator.validate('template.benefits.*');
      });
      this.libraryTitle = 'Библиотека иконок';
      $('#iconsModal').modal('hide');
    }
  }
};
</script>
<style lang="scss">
.ck-editor__editable_inline {
  min-height: 150px !important;
}
</style>
