<template>
  <div class="cy__box">
    <div id="cy"
      ref="cy"></div>
    <ZoomControl @zoomIn="zoom('in')"
      @zoomOut="zoom('out')"
      @fitToSize="fitToSize" />
    <Modal title="Добавление элемента"
      editTitle="Редактирование элемента"
      :editMode="editMode"
      :showSendBtn="true"
      idModal="nodeModal">
      <NodeModal @addNode="addElement"
        @editNode="editNode"
        :nodeData="currentElement"
        :editMode="editMode" />
    </Modal>
    <Modal title="Добавление условия"
      editTitle="Редактирование условия"
      :editMode="editModeRelation"
      idModal="relationModal">
      <RelationModal @addRelation="addElement"
        @editRelation="editNode"
        :editMode="editModeRelation"
        :elements="elements"
        :relationData="currentElement"
        :selectedNodes="selectedNodes" />
    </Modal>
    <Modal title="Просмотр чата"
      sizeClass="modal-lg"
      idModal="chatModal">
      <Chat :model="elements"
        :config="chatbot"
        class="l-chat__modal"
        typeRender="modal"
        :devMode="true" />
    </Modal>
    <Details :open="openDetails"
      :typeView="detailsTypeView"
      :bindMode="bindMode"
      :elements="elements"
      :bindElements="selectedNodes"
      :elementData="currentElement"
      :addRelation="addElement"
      :removeElement="removeElement"
      :openEditModal="openEditModal"
      :selectElementId="selectElementId"
      :openEditRelationModal="openEditRelationModal"
      @toggle="toggleDetails"
      @deleteElement="removeElement"
      @editElement="openEditModal"
      @selectElement="selectElement"
      :view="viewDetails"
      @changeView="changeViewDetails"
      @close="closeDetails" />
  </div>
</template>
<script>
import cytoscape from "cytoscape";
import CONFIG from "./config/cytoscapeConfig";
import { LABEL_CONFIG } from "./config/labelConfig";
import NODE_COLORS from "./config/nodeColors";
import MOCK_ELEMENTS from "./config/mockElements";
import EventBus from "@/js/helpers/event-bus";
import NodeModal from "./NodeModal";
import Chat from "@/js/modules/chat";
import RelationModal from "./RelationModal";
import Details from "./Details/index";
import Chatbot from "@/js/api/Chatbot";
import Modal from "@/js/components/Modal";
import ZoomControl from "./ZoomControl";
import "bootstrap/js/dist/modal";

const nodeHtmlLabel = require("cytoscape-node-html-label");
nodeHtmlLabel(cytoscape);

export default {
  components: {
    NodeModal,
    RelationModal,
    Details,
    Chat,
    Modal,
    ZoomControl
  },
  data() {
    return {
      chatbot: window.chatbot,
      elements: Array.isArray(window.chatbot.construction.construction)
        ? [
            {
              classes: "l1",
              data: {
                title: "Приветствие!",
                type: "info",
                answers: [],
                multipleChoice: false,
                required: true,
                anyAnswer: true,
                minVal: 0,
                hasChild: false,
                maxVal: 100
              }
            }
          ]
        : JSON.parse(window.chatbot.construction.construction),
      config: CONFIG,
      condition: "",
      selectedNodes: [],
      selectElementId: null,
      openDetails: false,
      bindMode: false,
      editMode: false,
      editModeRelation: false,
      viewDetails: "nodes",
      parentNodeId: null
    };
  },
  async mounted() {
    await this.loadData();
    this.cy = cytoscape({
      container: this.$refs.cy,
      elements: this.elements,
      style: this.config.style,
      layout: this.config.layout
    });

    this.cy.on("tap", this.onCyMouseDown);
    this.cy.on("add", e => {
      if (!e.target.data().source) {
        setTimeout(() => {
          e.target.style({
            backgroundColor: NODE_COLORS.newNode
          });
        }, 500);
      }
    });
    this.cy.on("layoutstop", () => {
      this.cy
        .maxZoom(2)
        .fit(50)
        .maxZoom(100);
      $(".node__item")
        .parent()
        .css("pointer-events", "all");
    });

    this.cy.nodeHtmlLabel(LABEL_CONFIG);

    EventBus.$on("addBind", this.openBindElement);
    EventBus.$on("saveData", this.saveData);
    EventBus.$on("addElement", this.openNodeModal);
    EventBus.$on("showPreview", this.openChatModal);
    $(document).on("click", ".js-open-node-modal", this.createChildNode);
  },
  methods: {
    bindHanler(node) {
      if (this.selectedNodes.length == 2) {
        this.selectedNodes = [];
      }
      if (this.selectedNodes.filter(el => el.id == node.data().id).length) {
        return false;
      }
      this.selectedNodes.push(node.data());
      const selectedIds = this.selectedNodes.map(el => el.id);
      const nodes = this.cy.filter("node");
      nodes.forEach(el => {
        if (selectedIds.includes(el.data().id)) {
          const color =
            selectedIds.indexOf(el.data().id) == 0
              ? NODE_COLORS.selectFirst
              : NODE_COLORS.selectSecond;
          el.style({ backgroundColor: color });
        } else {
          el.style({ backgroundColor: NODE_COLORS.default });
        }
      });
    },
    openBindElement() {
      this.bindMode = true;
      this.openDetails = true;
      this.changeViewDetails("details");
    },
    createChildNode(e) {
      const parentId = $(e.target).data("source");
      e.preventDefault();
      e.stopPropagation();

      this.parentNodeId = parentId;
      this.openNodeModal();
    },
    openNodeModal() {
      this.editMode = false;
      $("#nodeModal").modal("show");
    },
    saveData(nextStep) {
      const data = this.cy.filter("*");
      const construction = data.map(el => {
        return {
          data: el.data(),
          position: el.position(),
          classes: el.classes()
        };
      });

      Chatbot.updateModel(this.chatbot.id, {
        construction: JSON.stringify(construction)
      }).then(res => {
        Swal.fire({
          ...SwalConfig,
          title: "Сохранено",
          type: "success",
          showCancelButton: false
        });
        if (nextStep) {
          window.location.assign(`/chatbots/${this.chatbot.id}/settings`);
        }
      });
    },
    removeElement(id) {
      Swal.fire({
        ...SwalConfig,
        title: "Удалить?",
        type: "question",
        showCancelButton: true
      }).then(res => {
        if (res && res.value == true) {
          this.cy.remove(`#${id}`);
          const currentElement = this.elements.filter(el => el.data.id == id);
          this.addMarkChildren(currentElement[0].data.source, true);
          if (currentElement[0].data.source) {
          }
          const newData = this.cy.json(true, false);
          this.elements = newData.elements;
          this.openDetails = false;
        }
      });
    },
    getTypeTap(event) {
      if (event.target === this.cy) {
        return "background";
      } else if (
        event.target.data().hasOwnProperty("source") &&
        event.target.data().hasOwnProperty("target")
      ) {
        return "edge";
      } else {
        return "node";
      }
    },
    loadData() {
      return new Promise((resolve, reject) => {
        Chatbot.getChatbot(window.chatbot.id)
          .then(({ data }) => {
            if (Array.isArray(data.construction.construction) == false) {
              this.elements = JSON.parse(data.construction.construction);
            }
            resolve();
          })
          .catch(error => reject());
      });
    },
    resetNodeColors() {
      const nodes = this.cy.filter("node");
      nodes.forEach(el => {
        el.style({ backgroundColor: NODE_COLORS.default });
      });
    },
    onCyMouseDown(event) {
      const typeEvent = this.getTypeTap(event);

      this.selectElementId = event.target.data().id;
      this.resetNodeColors();

      if (typeEvent == "node") {
        this.openDetails = true;
        this.changeViewDetails("details");
        const node = event.target;
        if (!node || !node[0]) return;
        if (this.bindMode) {
          this.bindHanler(node);
          return;
        }
        node.style({ backgroundColor: NODE_COLORS.active });
      } else if (typeEvent == "edge") {
        this.changeViewDetails("details");
        this.openDetails = true;
      } else {
        if (!this.bindMode) {
          this.openDetails = false;
        }
      }
    },
    addElement(element) {
      const el = this.cy.add(element);
      const elementData = {
        data: el.data(),
        classes: el.classes(),
        position: el.position()
      };

      this.elements = [...this.elements, ...[elementData]];
      this.closeDetails();

      if (this.parentNodeId) {
        this.addRelation(elementData);
      }

      $("#nodeModal").modal("hide");
      $("#relationModal").modal("hide");
      this.addMarkChildren(element[0].data.source, false);
      if (!element[0].data.source) {
        this.cy.center(el);
      }
    },
    addRelation(node) {
      const parent = this.cy.$(`#${this.parentNodeId}`);
      this.cy.$(`#${node.data.id}`).position({
        x: parent.position().x,
        y: parent.position().y + 100
      });
      this.parentNodeId = null;
      if (parent.data().anyAnswer) {
        const data = {
          title: "",
          source: parent.data().id,
          target: node.data.id,
          sourceData: parent.data(),
          targetData: node
        };
        this.addElement([{ data }]);
      } else {
        this.selectedNodes = [{ ...parent.data() }, { ...node.data }];
        $("#relationModal").modal("show");
      }
    },
    addMarkChildren(source, isRemove) {
      const nodes = this.cy.filter("node");
      nodes.forEach(el => {
        const newData = el.data();
        if (newData.anyAnswer) {
          newData.hasChild = this.nodeHasChild(newData.id) ? true : false;
        } else {
          newData.hasChild = false;
        }
        this.cy.$(`#${newData.id}`).data(newData);
      });
    },
    nodeHasChild(id) {
      const relation = this.cy.filter("edge");
      return relation.filter(el => el.data().source == id).length;
    },
    toggleDetails() {
      if (this.openDetails) {
        this.closeDetails();
      } else {
        this.openDetails = true;
      }
    },
    changeViewDetails(type) {
      this.viewDetails = type;
    },
    closeDetails() {
      this.bindMode = false;
      this.openDetails = false;
      this.resetNodeColors();
      this.selectedNodes = [];
    },
    editNode(data) {
      console.log("data", data);
      this.elements = this.elements.map(el => {
        if (el.data.id == data.id) {
          el.data = data;
        }
        return el;
      });
      this.cy.$(`#${data.id}`).data(data);
      $("#nodeModal").modal("hide");
      $("#relationModal").modal("hide");
      this.editMode = false;
      this.editModeRelation = false;
    },
    openEditModal(id) {
      if (id) {
        this.selectElementId = id;
      }
      this.editMode = true;
      $("#nodeModal").modal("show");
    },
    openEditRelationModal() {
      this.editModeRelation = true;
      $("#relationModal").modal("show");
    },
    openChatModal() {
      $("#chatModal").modal("show");
    },
    zoom(type) {
      const currentZoom = this.cy.zoom();
      if (type == "out") {
        this.cy.zoom(currentZoom - 0.2);
      } else {
        this.cy.zoom(currentZoom + 0.2);
      }
    },
    fitToSize() {
      this.cy.fit();
    },
    selectElement(id) {
      this.resetNodeColors();
      this.selectElementId = id;
      const element = this.cy.$(`#${id}`);
      element.style({ backgroundColor: NODE_COLORS.active });
      this.cy.animate(
        {
          center: {
            eles: element
          },
          zoom: 2
        },
        {
          duration: 500
        }
      );
    }
  },
  computed: {
    currentElement() {
      return this.elements.filter(el => el.data.id == this.selectElementId)[0];
    },
    detailsTypeView() {
      return this.bindMode
        ? "bind"
        : this.currentElement &&
          !this.currentElement.data.hasOwnProperty("source")
        ? "node"
        : "edge";
    }
  }
};
</script>
<style lang="scss">
.cy__box {
  position: relative;
  width: 100%;
  height: 100%;
}
#cy {
  width: 100%;
  height: 100%;
}
.node__item {
  position: relative;
  border-radius: 10px;
  font-size: 10px;
  width: 120px;
  height: 40px;
  .text {
    font-family: "Helvetica Neue";
    // padding: 13px 3px;
    opacity: 0;
    white-space: nowrap;
  }
}
.item__icon {
  color: #125a96;
  font-size: 8px;
  position: absolute;
  left: 4px;
  top: 4px;
  //   margin-left: 8px;

  &--fly {
    color: #125a96;
    font-size: 15px;
    position: absolute;
    bottom: -31px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    &::after {
      content: "";
      display: inline-block;
      width: 1px;
      position: absolute;
      height: 16px;
      background: #125a96;
      top: -100%;
      left: 50%;
      transform: translate(-1px, -1px);
    }
    &.hidden {
      visibility: hidden;
    }
  }
}
</style>
