<template>
  <div class="board">
    <div class="board__header d-flex justify-content-between align-items-center">
      <h1>Конструктор</h1>
      <div class="btns">
        <button
          class="btn btn-blue mr-15"
          @click="addBind"
        >
          <i class="fa fa-link mr-5" /> Добавить связь
        </button>
        <button
          class="btn btn-green"
          @click="addElement"
        >
          <i class="fa fa-plus mr-5" /> Добавить блок
        </button>
      </div>
    </div>
    <div class="board__area">
      <Editor />
    </div>
    <div class="board__footer d-flex justify-content-between">
      <button
        class="btn btn-blue"
        type="button"
        @click="showPreview"
      >
        Просмотр
      </button>
      <div>
        <button
          class="btn btn-green"
          @click="save($event, false)"
        >
          Сохранить
        </button>
        <button
          class="btn btn-green"
          @click="save($event, true)"
        >
          Сохранить и перейти к настройке
        </button>
      </div>
    </div>
  </div>
</template>
<script>
import Editor from './Editor';
import EventBus from '@/js/helpers/event-bus';

export default {
  components: {
    Editor
  },
  data() {
    return {
      chatbotData: window.chatbot || {}
    };
  },
  methods: {
    addBind() {
      EventBus.$emit('addBind');
    },
    addElement() {
      EventBus.$emit('addElement');
    },
    save(event, nextStep) {
      EventBus.$emit('saveData', nextStep);
    },
    showPreview(event, nextStep) {
      EventBus.$emit('showPreview');
    }
  }
};
</script>
<style lang="scss">
.board {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 160px);

  &__header {
    flex-shrink: 0;
  }
  &__footer {
    flex-shrink: 0;
  }
  &__area {
    flex-shrink: 1;
    flex-grow: 1;
    background-color: #fff;
    margin-bottom: 20px;
    border-radius: 10px;
    overflow: hidden;
  }
}
</style>
