<template>
  <div>
    <form
      class="block-content"
      data-vv-scope="block"
    >
      <selectField
        v-model="data.type"
        v-validate="'required'"
        label-text="Выберите тип сообщения"
        name="type"
        :value="data.type"
        :disabled="editMode"
        :item-list="types"
        input-class="col-md-12"
        :error="errors.first('block.type')"
        @change="clearAnswers"
      />

      <inputField
        v-model="data.title"
        v-validate="'required'"
        label-text="Введите сообщение"
        name="title"
        :value="data.title"
        input-class="col-md-12"
        :error="errors.first('block.title')"
      />
      <inputField
        v-if="data.type == 'slider'"
        v-model="data.minVal"
        v-validate="{required: data.type == 'slider'}"
        label-text="Минимальное значение"
        name="minVal"
        :value="data.minVal"
        input-class="col-md-12"
        :error="errors.first(`block.minVal`)"
      />
      <inputField
        v-if="data.type == 'slider'"
        v-model="data.maxVal"
        v-validate="{required: data.type == 'slider'}"
        label-text="Максимальное значение"
        name="maxVal"
        :value="data.maxVal"
        input-class="col-md-12"
        :error="errors.first(`block.maxVal`)"
      />

      <div v-if="showAnsewers">
        <div class="d-flex justify-content-between">
          <h4>Ответы</h4>
          <button
            class="btn btn-blue btn-circle "
            type="button"
            @click="addAnswer"
          >
            <i class="fa fa-plus" />
          </button>
        </div>
        <p
          v-show="checkAnswers"
          class="text-danger"
        >
          Должен быть минимум один вариант ответа
        </p>
        <div
          v-for="(anwser, i) in data.answers"
          :key="i"
          class="form-group"
        >
          <div class="input__box">
            <div
              v-if="['time', 'date'].includes(data.type)"
              class="form-group row"
            >
              <label class="col-12">Ответ {{ i + 1 }}</label>
              <div class="col-md-12">
                <flat-pickr
                  v-model="data.answers[i]"
                  v-validate="'required'"
                  class="form-control"
                  :name="`answer${i}`"
                  :config="datapickerConfig"
                />
              </div>
              <div class="col-md-12">
                <div
                  v-show="errors.first(`block.answer${i}`)"
                  class="form-text text-danger"
                >
                  {{ errors.first(`block.answer${i}`) }}
                </div>
              </div>
            </div>
            <inputField
              v-else
              v-model="data.answers[i]"
              v-validate="'required'"
              :label-text="`Ответ ${i + 1}`"
              :name="`answer${i}`"
              :value="data.answers[i]"
              input-class="col-md-12"
              :error="errors.first(`block.answer${i}`)"
            />
            <i
              v-show="data.answers.length > 1"
              class="fa fa-times"
              aria-hidden="true"
              style="color: red;"
              @click="deleteAnswer(i)"
            />
          </div>
        </div>
      </div>

      <div>
        <label
          v-if="canMultipleChoice"
          class="css-control css-control-sm css-control-primary css-checkbox "
        >
          <input
            v-model="data.multipleChoice"
            type="checkbox"
            class="css-control-input"
            :disabled="editMode"
          >
          <span class="css-control-indicator" /> Множественный выбор
        </label>
      </div>
      <div>
        <label
          v-if="data.type != 'info'"
          class="css-control css-control-sm css-control-primary css-checkbox "
        >
          <input
            v-model="data.required"
            type="checkbox"
            class="css-control-input"
            :disabled="editMode"
          >
          <span class="css-control-indicator" /> Обязательный ответ
        </label>
      </div>
      <div>
        <label
          v-if="data.type != 'info'"
          class="css-control css-control-sm css-control-primary css-checkbox "
        >
          <input
            v-model="data.anyAnswer"
            type="checkbox"
            class="css-control-input"
            :disabled="editMode"
          >
          <span class="css-control-indicator" /> Любой ответ
        </label>
      </div>
    </form>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-grey"
        data-dismiss="modal"
      >
        Закрыть
      </button>
      <button
        type="button"
        class="btn btn-green"
        @click="send"
      >
        <i class="fa fa-check" /> Сохранить
      </button>
    </div>
  </div>
</template>
<script>
import inputField from '@/js/components/inputField';
import selectField from '@/js/components/selectField';
import TYPE_QUESTION from '@/js/modules/constructor/config/typesQuestions';
import flatPickr from 'vue-flatpickr-component';
import 'flatpickr/dist/flatpickr.css';
import { Russian } from 'flatpickr/dist/l10n/ru.js';
import cloneDeep from 'lodash/cloneDeep';
export default {
  $_veeValidate: {
    validator: 'new'
  },

  components: {
    inputField,
    selectField,
    flatPickr
  },
  props: {
    editMode: {
      type: Boolean,
      default: false
    },
    nodeData: {
      type: Object
    }
  },

  data() {
    return {
      types: TYPE_QUESTION,
      data: {
        title: '',
        type: 'info',
        answers: [''],
        multipleChoice: false,
        required: true,
        anyAnswer: true,
        hasChild: false,
        minVal: 0,
        maxVal: 100
      },
      programmTypeChange: false
    };
  },
  computed: {
    showAnsewers() {
      return (
        ['question', 'droplist'].includes(this.data.type) ||
        this.needVariantAnswers
      );
    },
    userActionDo() {
      return ['entry', 'date', 'time', 'slider'].includes(this.data.type);
    },
    canMultipleChoice() {
      return ['question', 'droplist'].includes(this.data.type);
    },
    answerRequired() {
      return ['question', 'droplist'].includes(this.data.type);
    },
    checkAnswers() {
      if ((this.showAnsewers && this.answerRequired) || !this.data.anyAnswer) {
        return this.data.answers < 1;
      }
      return false;
    },
    datapickerConfig() {
      const timePicker = {
        enableTime: true,
        noCalendar: true,
        dateFormat: 'H:i',
        time_24hr: true,
        wrap: true,
        altFormat: 'H:i',
        altInput: true,
        static: true,
        // allowInput: true,
        locale: Russian
      };
      const datePicker = {
        wrap: true,
        altFormat: 'd.m.Y',
        altInput: true,
        static: true,
        dateFormat: 'd.m.Y',
        locale: Russian
        // allowInput: true
      };

      return this.data.type == 'time' ? timePicker : datePicker;
    },
    needVariantAnswers() {
      return this.userActionDo && !this.data.anyAnswer;
    }
  },
  watch: {
    nodeData: function(newVal) {
      console.log('nodeData', newVal);
      if (newVal && this.editMode) {
        this.data = cloneDeep(newVal.data);
        this.programmTypeChange = true;
      }
    },
    editMode: function(newVal) {
      console.log('editMode', newVal);
      if (!newVal) {
        this.clearData();
      } else {
        this.data = cloneDeep(this.nodeData.data);
        this.programmTypeChange = true;
        this.$nextTick(() => this.$validator.reset());
      }
    }
  },
  methods: {
    async send() {
      const valid = await this.$validator.validate('block.*');

      if (!valid) return false;
      if (this.checkAnswers) return false;
      if (!this.showAnsewers) this.data.answers = [];
      this.data.answers = this.data.answers.filter(el => el != '');
      const node = [
        {
          data: this.data,
          classes: 'l1'
          //   renderedPosition: { x: 100, y: 100 }
        }
      ];

      if (this.editMode) {
        this.$emit('editNode', this.data);
      } else {
        this.$emit('addNode', node);
      }
      this.clearData();
    },
    addAnswer() {
      this.data.answers.push('');
    },
    deleteAnswer(i) {
      this.data.answers.splice(i, 1);
    },
    clearData() {
      this.data = {
        title: '',
        type: 'info',
        answers: [''],
        multipleChoice: false,
        required: true,
        anyAnswer: true,
        hasChild: false,
        minVal: 0,
        maxVal: 100
      };
      this.$nextTick(() => this.$validator.reset());
    },
    clearAnswers() {
      if (!this.programmTypeChange) {
        this.data.answers = [];
      }
      this.programmTypeChange = false;
    }
  }
};
</script>
<style>
.flatpickr-wrapper {
  width: 100%;
  padding: 0 15px;
}
</style>
