<template>
  <div>
    <form
      class="block-content"
      data-vv-scope="relation"
    >
      <div v-show="!data.skip">
        <selectField
          :key="1"
          v-model="data.title"
          v-validate="{required: !data.skip}"
          label-text="Выбрать ответ"
          name="anwser"
          :value="data.title"
          :item-list="selectDataTransform"
          :multiple="isMultiple"
          instance-class="js-select2-title"
          :error="errors.first('relation.anwser')"
        />
        <selectField
          :key="2"
          v-model="data.condition.type"
          v-validate="{required: !data.skip}"
          label-text="Выбрать тип сравнения"
          name="condition"
          :value="data.condition.type"
          :item-list="conditionTypes[unswerType]"
          instance-class="js-select2-type"
          input-class="col-md-12"
          :error="errors.first('relation.condition')"
        />
      </div>
      <div v-show="unswerType !== 'numbers'">
        <label class="css-control css-control-primary css-radio">
          <input
            v-model="data.condition.compareExact"
            type="radio"
            class="css-control-input"
            :value="false"
            name="compareExact"
          >
          <span class="css-control-indicator" /> Один из вариантов
        </label>
        <label class="css-control css-control-primary css-radio">
          <input
            v-model="data.condition.compareExact"
            type="radio"
            class="css-control-input"
            name="compareExact"
            :value="true"
          >
          <span class="css-control-indicator" /> Точное совпадение
        </label>
      </div>

      <div>
        <label
          v-show="data.sourceData && !data.sourceData.required"
          class="css-control css-control-sm css-control-primary css-checkbox "
        >
          <input
            v-model="data.skip"
            type="checkbox"
            class="css-control-input"
          >
          <span class="css-control-indicator" />Пропустить вопрос
        </label>
      </div>
    </form>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-grey"
        data-dismiss="modal"
      >
        Закрыть
      </button>
      <button
        type="button"
        class="btn btn-green"
        @click="send"
      >
        <i class="fa fa-check" /> Сохранить
      </button>
    </div>
  </div>
</template>
<script>
import inputField from '@/js/components/inputField';
import selectField from '@/js/components/selectField';
import TYPE_QUESTION from '@/js/modules/constructor/config/typesQuestions';
import CONDITION_TYPES from '@/js/modules/constructor/config/conditionTypes';
import checkRelationMixin from '@/js/modules/constructor/mixins/checkRelations';
import cloneDeep from 'lodash/cloneDeep';
// import { _equalArrays } from "@/js/helpers/equalArrays";

export default {
  $_veeValidate: {
    validator: 'new'
  },
  components: {
    inputField,
    selectField
  },
  mixins: [checkRelationMixin],
  props: {
    editMode: {
      type: Boolean,
      default: false
    },
    elements: Array,
    relationData: Object,
    selectedNodes: Array
  },
  data() {
    return {
      types: TYPE_QUESTION,
      data: {
        title: '',
        condition: {
          type: this.unswerType == 'text' ? 'contains' : 'equally',
          compareExact: false,
          label: this.unswerType == 'text' ? 'Если содержит' : 'Если равно'
        },
        anyAnswer: '',
        source: '',
        sourceData: {},
        target: '',
        skip: false,
        targetData: {}
      },
      conditionTypes: CONDITION_TYPES
    };
  },
  computed: {
    selectDataTransform() {
      if (!this.data.sourceData || !this.data.sourceData.type) return [];
      if (this.data.sourceData.length < 1) return [];
      const result = {};
      this.data.sourceData.answers.forEach(el => {
        result[el] = el;
      });
      return result;
    },
    unswerType() {
      return ['slider'].includes(this.data.sourceData.type)
        ? 'numbers'
        : 'text';
    },
    isMultiple() {
      if (!this.selectedNodes[0]) return true;
      return !(
        this.unswerType == 'numbers' ||
        (!this.selectedNodes[0].multipleChoice &&
        this.data.condition.compareExact)
      );
    }
  },
  watch: {
    selectedNodes: function(newVal) {
      this.clearData();
      this.$nextTick(() => this.$validator.reset());
    },
    relationData: function(newVal) {
      if (newVal && this.editMode) {
        this.data = cloneDeep(newVal.data);
      }
      this.$nextTick(() => this.$validator.reset());
    },
    editMode: function(newVal) {
      if (!newVal) {
        this.clearData();
      } else {
        this.data = cloneDeep(this.relationData.data);
      }
      this.$nextTick(() => this.$validator.reset());
    }
  },
  methods: {
    async send() {
      const valid = await this.$validator.validate('relation.*');
      if (!valid) return false;
      if (this.checkDuplicate(this.elements, this.data) && !this.editMode) {
        Swal.fire({
          ...SwalConfig,
          title: 'Связь с данным условием уже существует',
          type: 'error',
          showCancelButton: false
        });
        return false;
      }
      if (this.checkMultiRelation(this.elements, this.data) && !this.editMode) {
        Swal.fire({
          ...SwalConfig,
          title: 'Между данными блоками связь уже существует',
          type: 'error',
          showCancelButton: false
        });
        return false;
      }
      this.data.condition.label = this.conditionTypes[this.unswerType][
        this.data.condition.type
      ];
      const element = [{ data: this.data }];
      if (this.data.skip) element[0].data.title = '';
      if (this.editMode) {
        this.$emit('editRelation', this.data);
      } else {
        delete element[0].data.id;
        this.$emit('addRelation', element);
      }
      this.clearData();
    },
    clearData() {
      if (this.selectedNodes.length < 2) return;
      this.data = {
        title: this.selectedNodes[0].answers[0],
        condition: {
          type: this.unswerType == 'text' ? 'contains' : 'equally',
          compareExact: false,
          label: this.unswerType == 'text' ? 'Если содержит' : 'Если равно'
        },
        anyAnswer: this.selectedNodes[0].anyAnswer,
        skip: false,
        source: this.selectedNodes[0].id,
        sourceData: this.selectedNodes[0],
        target: this.selectedNodes[1].id,
        targetData: this.selectedNodes[1]
      };
    }
  }
};
</script>
