<template>
  <div class="c-zoom">
    <div class="c-zoom__item"
      @click="$emit('zoomOut')"><i class="si si-magnifier-remove"></i></div>
    <div class="c-zoom__item"
      @click="$emit('fitToSize')"><i class="si si-size-actual"
        aria-hidden="true"></i></div>
    <div class="c-zoom__item"
      @click="$emit('zoomIn')"><i class="si si-magnifier-add"></i></div>
  </div>
</template>
<script>
export default {};
</script>
<style lang="scss">
.c-zoom {
  position: absolute;
  left: 10px;
  top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  &__item {
    display: flex;
    margin-right: 5px;
    margin-left: 5px;
    transition: color 0.5s;
    font-size: 17px;
    color: #125a96;
    cursor: pointer;
    &:hover {
      color: #c8e2f8;
    }
  }
}
</style>
