<template>
  <div>
    <div class="d-flex align-items-center c-color__box">
      <div class="c-color__label">{{title}}</div>
      <div class="c-color__preview"
        :style="{backgroundColor: colors.hex || value}"></div>
      <button type="button"
        class="btn btn-circle btn-alt-info"
        @click="pickerIsOpen = true">
        <i class="fa fa-edit"></i>
      </button>
      <div class="c-color__picker"
        @click.self="pickerIsOpen = false"
        v-show="pickerIsOpen">
        <div class="c-color__picker-item">
          <sketch-picker v-model="colors"
            @input="updateValue" />
        </div>
      </div>
    </div>
    <div class="form-text text-danger"
      v-show="error">{{ error }}</div>
  </div>
</template>
<script>
import { Sketch } from "vue-color";
export default {
  props: {
    title: String,
    value: String,
    error: {
      type: String,
      required: false
    }
  },
  data() {
    return {
      colors: "#ffffff",
      pickerIsOpen: false
    };
  },
  components: {
    "sketch-picker": Sketch
  },
  watch: {
    value: function(newVal) {
      this.colors = newVal;
    }
  },
  methods: {
    updateValue() {
      this.$emit("input", this.colors.hex);
    }
  }
};
</script>
<style lang="scss">
.c-color {
  &__box {
    position: relative;
  }
  &__label {
    margin-right: 15px;
    min-width: 200px;
  }
  &__preview {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #dddddd;
    margin-right: 15px;
  }
  &__picker {
    position: fixed;
    left: 0;
    bottom: 0;
    top: 0;
    right: 0;
    z-index: 10;
    &-item {
      position: absolute;
      bottom: 20px;
      right: 20px;
      z-index: 10;
    }
  }
}
</style>
