<template>
  <button
    class="btn btn-blue "
    type="button"
    @click="copyToBuffer"
  >
    <i class="fa fa-copy mr-5" />{{ titleBtn }}
  </button>
</template>
<script>
export default {
  props: {
    selector: String,
    titleBtn: {
      type: String,
      default: 'Копировать'
    }
  },
  methods: {
    copyToBuffer() {
      try {
        const copyText = document.querySelector(this.selector);
        copyText.select();
        document.execCommand('copy');
        Codebase.helpers('notify', {
          align: 'right',
          from: 'top',
          type: 'info',
          icon: 'fa fa-info mr-5',
          message: 'Скопировано в буффер обмена'
        });
      } catch (error) {
        Codebase.helpers('notify', {
          align: 'right',
          from: 'top',
          type: 'danger',
          icon: 'fa fa-times mr-5',
          message:
            'Автоматическое копирование не потдерживается, выдилите текст и нажмите Ctrl + C'
        });
      }
    }
  }
};
</script>
