<template>
  <div class="l-select"
    href="#"
    @click.stop
    :class="{'open': resultsIsOpen}"
    @focus="calculateMargin"
    @blur="resetMargin">
    <div class="l-select__header"
      @click="openSelect">
      <span class="l-select__value"> {{ value || 'Выбрать' }}</span>

    </div>
    <div class="l-select__arrow"
      @click="openSelect"></div>
    <simplebar class="l-select__body"
      data-simplebar-auto-hide="false"
      :style="{maxHeight: height + 'px'}">
      <div class="l-select__list">
        <template v-if="multiple">
          <label class="l-select__checkbox"
            v-for="(item, i) in list"
            :key="i">
            <input type="checkbox"
              v-model="multipleValue[item.name]"
              @change="selectMultiple(item.name)">
            <span class="l-select__checkbox-item"></span>
            <span class="l-select__value2">{{item.value}}</span>
          </label>
        </template>
        <template v-else>
          <div class="l-select__option"
            v-for="(item, i) in list"
            :key="i"
            @click="select(item.name)"> <span class="l-select__value2">{{item.value}}</span></div>
        </template>
      </div>
    </simplebar>
  </div>
</template>
<script>
import simplebar from "simplebar-vue";
import "simplebar/dist/simplebar.css";

export default {
  props: {
    list: Array,
    height: {
      type: Number,
      default: 250
    },
    multiple: {
      type: Boolean,
      default: false
    }
  },
  components: {
    simplebar
  },
  data() {
    return {
      value: "",
      marginHeight: 0,
      bodyheight: 0,
      resultsIsOpen: false,
      multipleValue: {}
    };
  },
  mounted() {
    document.addEventListener("click", () => (this.resultsIsOpen = false));
  },
  methods: {
    select(val) {
      this.value = val;
      this.$emit("input", this.value);
      this.openSelect();
    },
    selectMultiple() {
      this.value = this.transformMultiSelectVal(this.multipleValue).join(", ");
      this.$emit("input", this.transformMultiSelectVal(this.multipleValue));
      //   this.openSelect();
    },
    transformMultiSelectVal(object) {
      const result = [];
      for (const key in object) {
        if (object.hasOwnProperty(key)) {
          if (object[key]) {
            result.push(key);
          }
        }
      }
      return result;
    },
    openSelect() {
      this.resultsIsOpen = !this.resultsIsOpen;
    },
    calculateMargin() {
      console.log("focus");
      //   this.bodyheight = height;
      //   const height = this.refs.lselectbody.offsetHeight;
      //   this.marginHeight = height + 40;
    },
    resetMargin() {
      console.log("blur");
      //   this.bodyheight = 0;
      //   this.marginHeight = 0;
    }
  }
};
</script>
<style lang="scss">
.l-select {
  position: relative;
  width: 100%;
  border-radius: 23px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  max-width: 320px;
  &:hover {
    color: #ffffff;
  }
  &.open {
    // margin-bottom: 300px;
    .l-select__header {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      border-bottom: 1px solid rgba(#ffffff, 0.2);
    }
    .l-select__arrow {
      transform: rotate(0);
    }
    .l-select__body {
      opacity: 1;
      visibility: visible;
      position: relative;
      transition: all 0.5s;
    }
  }
  &__arrow {
    position: absolute;
    right: 25px;
    top: 20px;
    width: 12px;
    height: 6px;
    background-image: url("../../images/default/arrow_select.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transform: rotate(-90deg);
    transition: transform 0.4s;
  }
  &__header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 47px;
    border-radius: 23px;
    background-color: #5b83f4;
    padding-left: 30px;
    padding-right: 40px;
    box-sizing: border-box;
  }
  &__value {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  &__body {
    overflow-x: hidden !important;
    position: absolute;
    // top: 100%;
    // right: 0;
    // left: 0;
    width: 100%;
    background-color: #5b83f4;
    display: flex;
    flex-direction: column;

    padding-top: 15px;
    padding-bottom: 15px;
    box-sizing: border-box;
    color: #ffffff;
    border-bottom-left-radius: 23px;
    border-bottom-right-radius: 23px;
    opacity: 0;
    // max-height: 250px;
    // transition: 0;
    visibility: hidden;
  }
  &__list {
    width: 100%;
    height: 100%;
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: border-box;
    overflow-x: hidden !important;
  }
  &__option {
    transition: color 0.5s;
    margin-bottom: 9px;
    cursor: pointer;
    &:hover {
      color: #59e693;
    }
  }
  &__checkbox {
    display: flex;
    transition: color 0.5s;
    margin-bottom: 9px;
    cursor: pointer;
    &:hover {
      color: #59e693;
    }
    input {
      display: none;
      &:checked ~ .l-select__checkbox-item {
        background-image: url("../../images/default/check_box_icon.png");
      }
    }
    &-item {
      width: 16px;
      height: 16px;
      border-radius: 4px;
      background-color: #ffffff;
      background-size: auto;
      background-position: center;
      background-repeat: no-repeat;
      margin-right: 13px;
      flex-shrink: 0;
      margin-top: 4px;
    }
  }
  .simplebar-track.vertical {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .simplebar-content {
    overflow-x: hidden !important;
  }
  .simplebar-track {
    border-radius: 5px;
    background-color: #5276db !important;
    right: 10px;
  }
  .simplebar-scrollbar {
    border-radius: 3px;
    background-color: #ffffff !important;
    &::before {
      background: #ffffff !important;
    }
  }
}
</style>
