<template>
  <div>
    <div class="d-flex justify-content-center mb-10 mt-10">
      <button class="btn btn-alt-primary"
        v-show="showIcons"
        @click="back"><i class="fa fa-reply mr-5"></i> В каталог</button>
    </div>
    <!-- <transition-group name="fade"> -->
    <div class="l-advantages"
      v-show="!showIcons"
      key="1a">
      <div class="l-advantages__item"
        v-for="category in categories"
        @click="getIcons(category.id, category.title)"
        :key="category.id">
        <div class="l-advantages__item-head">
          <div class="l-advantages__item-icon"
            :style="{backgroundImage: `url('${category.icon}')`}">
          </div>
          <div class="l-advantages__item-line"></div>
        </div>
        <div class="l-advantages__item-title">{{category.title}}</div>
      </div>
    </div>
    <div class="l-advantages"
      key="2a"
      v-show="showIcons">
      <div class="l-icon"
        v-for="(icon, i) in icons"
        @click="check(icon.path)"
        :key="icon.title + i">
        <img :src="icon.path"
          :alt="icon.title">
      </div>

    </div>
    <!-- </transition-group> -->

  </div>
</template>
<script>
import Library from "@/js/api/Library";
export default {
  props: {
    checkIcon: Function,
    changeTitle: Function
  },
  data() {
    return {
      categories: [],
      icons: [],
      showIcons: false
    };
  },
  async created() {
    try {
      const { data } = await Library.getIconsCategory();
      this.categories = data;
    } catch (error) {
      console.log("error", error);
    }
  },
  methods: {
    async getIcons(categoryId, categoryTitle) {
      try {
        const { data } = await Library.getIcons(categoryId);
        this.icons = data.data;
        this.showIcons = true;
        this.$emit("changeTitle", ` - ${categoryTitle}`);
      } catch (error) {
        console.log("error", error);
      }
    },
    check(path) {
      this.$emit("checkIcon", path);
      this.showIcons = false;
    },
    back() {
      this.$emit("changeTitle", "");
      this.showIcons = false;
    }
  }
};
</script>
<style lang="scss">
@import "../../sass/_mixins.scss";
// Advantages begin
.l-advantages {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
  justify-content: center;
  @include respond(ipad) {
    bottom: 100px;
  }
  @include respond(phone) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__item {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    background-image: url("../../images/default/advantages-bg.jpg");
    background-size: cover;
    background-position: center;
    width: 150px;
    min-height: 116px;
    border-radius: 15px;
    box-shadow: -1px 4px 37px 3px rgba(0, 0, 0, 0.13);
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    margin: 10px;
    box-sizing: border-box;
    transition: 0.5s;
    border: 1px solid rgba(255, 255, 255, 0);
    cursor: pointer;
    // @include respond(ipad) {
    //   min-height: 160px;
    //   max-width: 100%;
    //   padding-top: 34px;
    // }

    // &:nth-of-type(2n) {
    //   margin-left: 35px;
    //   margin-right: 35px;
    //   @include respond(ipad) {
    //     margin-left: 24px;
    //     margin-right: 24px;
    //   }
    //   @include respond(phone) {
    //     margin: 15px 0;
    //   }
    // }
    &:hover {
      border-color: #01c853;
    }
    &-head {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex-shrink: 0;
    }

    &-icon {
      width: 47px;
      height: 47px;
      //   background-image: url("../../images/default/tools.png");
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      @include respond(ipad) {
        width: 33px;
        height: 33px;
      }
    }

    &-line {
      content: "";
      display: block;
      width: 75px;
      height: 3px;
      background-color: #01c853;
      margin-top: 10px;
      margin-bottom: 12px;
      //   @include respond(ipad) {
      //     margin-top: 20px;
      //     margin-bottom: 20px;
      //   }
      //   @include respond(phone) {
      //     margin-top: 15px;
      //     margin-bottom: 15px;
      //   }
    }

    &-title {
      color: #1c1c1c;
      //   font-family: "Lato-Heavy";
      font-size: 14px;
      text-align: center;
      word-break: break-word;
      @include respond(ipad) {
        font-size: 16px;
      }
      @include respond(phone) {
        font-size: 14px;
      }
    }
  }
}
// Advantages end
// Icon beign
.l-icon {
  width: 150px;
  height: 150px;
  border: 1px solid #b3b1b1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  margin: 10px;
  border-radius: 10px;
  cursor: pointer;
  img {
    max-width: 100%;
  }
}
// Icon end
</style>
