<template>
  <div class="animated fadeIn">
    <h3 class="text-center text-muted">{{title}}</h3>
    <div class="options-container fx-item-zoom-in fx-overlay-slide-right">
      <img class="img-fluid options-item"
        :src="imageView || '/images/default/placeholder.jpg'"
        alt="">
      <div class="options-overlay bg-black-op">
        <div class="options-overlay-content">
          <h4 class="h6 text-white-op mb-15">{{desc}}</h4>
          <label class="btn btn-sm btn-rounded btn-alt-success min-width-75">
            <input type="file"
              hidden
              :name="name"
              accept="image/jpeg,image/png,image/webp"
              @change="loadFile">
            <i class="fa fa-plus"></i> Загрузить
          </label>
          <button class="btn btn-sm btn-rounded btn-alt-danger min-width-75 mb-5"
            v-show="canDelete"
            @click="deleteImage"
            type="button"><i class="fa fa-times"></i>Удалить</button>
        </div>
      </div>
    </div>
    <div class="form-text text-danger"
      v-show="error">{{ error }}</div>
  </div>
</template>
<script>
export default {
  $_veeValidate: {
    name() {
      return this.name;
    },
    value() {
      return this.model;
    }
  },
  props: {
    title: String,
    desc: String,
    image: {
      default: null
    },
    name: String,
    error: {
      type: String,
      required: false
    },
    canDelete: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      imageUrl: ""
    };
  },
  methods: {
    loadFile(e) {
      const file = e.target.files[0];
      const reader = new FileReader();
      reader.readAsDataURL(file);
      reader.onload = () => (this.imageUrl = reader.result);
      reader.onerror = error => console.log("error", error);
      this.$emit("input", file);
      e.target.value = "";
    },
    deleteImage() {
      this.imageUrl = "";
      this.$emit("input", "");
    }
  },
  computed: {
    imageView() {
      return this.imageUrl ? this.imageUrl : this.image;
    },
    hasFile() {
      return !!this.imageView;
    }
  }
};
</script>
<style lang="scss">
.options-container {
  background-color: #eee;
}
.img-fluid {
  width: 100%;
  height: 300px;
  object-fit: contain;
}
</style>
