<template>
  <div class="form-group row">
    <label class="col-12">{{ labelText }}</label>
    <div :class="inputClass">
      <textarea
        v-if="isTextArea"
        rows="5"
        class="form-control"
        :name="name"
        :value="value"
        :disabled="disabled"
        @input="updateValue"
        @change="updateValue"
        @blur="$emit('blur')"
      />
      <input
        v-else
        :type="type"
        class="form-control"
        :name="name"
        :value="value"
        :disabled="disabled"
        :placeholder="placeholder"
        @input="updateValue"
        @change="updateValue"
        @blur="$emit('blur')"
      >
      <div
        v-show="error"
        class="form-text text-danger"
      >
        {{ error }}
      </div>
      <div
        v-show="info"
        class="form-text text-info"
      >
        {{ info }}
      </div>
    </div>
    <div
      v-show="sendButton"
      class="col-md-3"
    >
      <button
        class="btn btn-green"
        :disabled="!value.length || error"
        @click="$emit('sendField')"
      >
        Сохранить
      </button>
    </div>
  </div>
</template>
<script>
export default {
  $_veeValidate: {
    name() {
      return this.name;
    },
    value() {
      return this.value;
    }
  },
  props: {
    labelText: String,
    isTextArea: {
      type: Boolean,
      default: false
    },
    disabled: {
      type: Boolean,
      default: false
    },
    error: {
      type: String,
      required: false
    },
    inputClass: {
      type: String,
      default: 'col-md-9'
    },
    type: {
      type: String,
      default: 'text',
      validator: val => {
        return (
          ['url', 'text', 'password', 'email', 'search'].indexOf(val) !== -1
        );
      }
    },
    placeholder: {
      type: String,
      default: ''
    },
    name: String,
    value: {
      default: ''
    },
    info: {
      type: String,
      default: ''
    },
    sendButton: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    errorName() {
      return this.scopeName ? `${this.scopeName}.${this.name}` : this.name;
    }
  },
  methods: {
    updateValue(e) {
      this.$emit('input', e.target.value);
    }
  }
};
</script>
