<template>
  <div>
    <div class="d-flex align-items-center">
      <label class="btn btn-alt-success">
        <input type="file"
          hidden
          accept="image/jpeg,image/png,image/webp"
          :name="name"
          @change="loadFile">
        <i class="fa fa-plus"></i> Загрузить изображение
      </label>
      <span class="text-muted ml-15">{{fileName || image}}</span>
    </div>
    <div class="form-text text-danger"
      v-show="error">{{ error }}</div>
  </div>
</template>
<script>
export default {
  $_veeValidate: {
    name() {
      return this.name;
    },
    value() {
      return this.image;
    }
  },
  props: {
    image: {
      default: null
    },
    name: String,
    error: {
      type: String,
      required: false
    }
  },

  data() {
    return {
      fileName: ""
    };
  },
  methods: {
    loadFile(e) {
      const file = e.target.files[0];
      this.fileName = file.name;
      this.$emit("input", file);
    }
  },
  computed: {
    hasFile() {
      return !!this.fileName || !!this.image;
    }
  }
};
</script>
