<template>
  <div
    :id="idModal"
    class="modal fade"
    tabindex="-1"
    data-vv-scope="block"
    aria-modal="true"
  >
    <div
      class="modal-dialog modal-dialog-popin"
      :class="sizeClass"
      role="document"
    >
      <div
        class="modal-content"
        data-vv-scope="relation"
      >
        <div class="block block-themed block-transparent mb-0">
          <div
            class="block-header"
            :class="editMode ? 'bg-gd-sun': 'bg-blue'"
          >
            <h3 class="block-title">
              {{ editMode ? editTitle : title }}
            </h3>
            <div class="block-options">
              <button
                type="button"
                class="btn-block-option"
                data-dismiss="modal"
                aria-label="Close"
              >
                <i class="si si-close" />
              </button>
            </div>
          </div>
          <!-- <div class="block-content">
          </div> -->
          <slot />
        </div>
        <!-- <div class="modal-footer">
          <button type="button"
            class="btn btn-alt-secondary"
            data-dismiss="modal">Закрыть</button>
          <button type="button"
            class="btn btn-alt-success"
            v-if="showSendBtn"
            @click="$emit('sendFunction')"><i class="fa fa-check"></i> Сохранить</button>
        </div> -->
      </div>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    title: String,
    editTitle: String,
    editMode: {
      type: Boolean,
      default: false
    },
    showSendBtn: {
      type: Boolean,
      default: false
    },
    sizeClass: String,
    idModal: String,
    sendFunction: Function
  }
};
</script>
