<template>
  <div class="d-flex justify-content-center"
    v-if="paginate.last_page > 1">
    <nav aria-label="Page navigation">
      <ul class="pagination pagination-lg">
        <li class="page-item">
          <a class="page-link"
            href="javascript:void(0)"
            aria-label="Previous"
            v-show="paginate.current_page > 1"
            @click="prevPage">
            <span aria-hidden="true">
              <i class="fa fa-angle-left"></i>
            </span>
            <span class="sr-only">Previous</span>
          </a>
        </li>
        <li class="page-item "
          :class="{'active': paginate.current_page == page}"
          v-for="page in createPagin()"
          :key="page">
          <a class="page-link"
            href="javascript:void(0)"
            @click="chocePage(page)">{{page}}</a>
        </li>

        <li class="page-item">
          <a class="page-link"
            href="javascript:void(0)"
            aria-label="Next"
            v-show="paginate.last_page > paginate.current_page "
            @click="nextPage">
            <span aria-hidden="true">
              <i class="fa fa-angle-right"></i>
            </span>
            <span class="sr-only">Next</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>

</template>
<script>
import createPaginationArray from "@/js/helpers/createPaginationArray";
export default {
  props: {
    params: Object,
    paginate: Object,
    changePage: Function
  },
  methods: {
    chocePage(page) {
      this.$emit("changePage", page);
    },
    nextPage() {
      const page = this.params.page + 1;
      this.$emit("changePage", page);
    },
    prevPage() {
      const page = this.params.page - 1;
      this.$emit("changePage", page);
    },
    createPagin() {
      return createPaginationArray(
        this.paginate.current_page,
        this.paginate.last_page
      );
    }
  }
};
</script>
