<template>
  <div class="form-group row">
    <label class="col-12">{{labelText}}</label>
    <div class="col-md-12">
      <select class="form-control w-100"
        :class="instanceClass"
        :multiple="multiple"
        :disabled="disabled">
        <option :value="value"
          v-for="(text, value) in itemList"
          :key="value">{{ text }}</option>
      </select>
      <div class="form-text text-danger"
        v-show="error">{{ error }}</div>
    </div>
  </div>
</template>
<script>
import "~/node_modules/select2";
import { _equalArrays } from "@/js/helpers/equalArrays";
import { nextTick } from "q";
export default {
  $_veeValidate: {
    name() {
      return this.name;
    },
    value() {
      return this.value;
    }
  },
  props: {
    labelText: String,
    itemList: {
      default: null
    },
    disabled: {
      type: Boolean,
      default: false
    },
    error: {
      type: String,
      required: false
    },

    placeholder: {
      type: String,
      default: ""
    },
    name: String,
    value: {
      default: ""
    },
    multiple: {
      type: Boolean,
      default: false
    },
    instanceClass: {
      type: String,
      default: "js-select2"
    }
  },

  mounted() {
    $("." + this.instanceClass)
      .select2({
        placeholder: this.placeholder,
        minimumResultsForSearch: 10
      })
      .val(this.value)
      .change(this.updateValue)
      .trigger("change");
  },

  methods: {
    updateValue(e) {
      const value = $("." + this.instanceClass).val();
      console.log("updateValue", value);
      this.$emit("input", value);
    }
  },
  watch: {
    value: function(val) {
      const value = $("." + this.instanceClass).val();
      if (
        (Array.isArray(val) &&
          Array.isArray(value) &&
          !_equalArrays(val, value)) ||
        (!Array.isArray(val) && !Array.isArray(value) && val !== value) ||
        (!Array.isArray(val) && Array.isArray(value)) ||
        (Array.isArray(val) && !Array.isArray(value))
      ) {
        console.log("UPDATE", this.multiple, val);
        $("." + this.instanceClass)
          .select2("destroy")
          .val(val)
          .select2({
            placeholder: this.placeholder,
            minimumResultsForSearch: 10,
            multiple: this.multiple
          });
        this.$nextTick(() => {
          $("." + this.instanceClass)
            .val(val)
            .trigger("change");
        });
      }
    }
  }
};
</script>
