<template>
  <form
    data-vv-scope="settings"
    class="c-loader__box"
  >
    <div class="d-flex justify-content-between align-items-center mb-50">
      <h2 class="mb-0">
        Настройки
      </h2>
      <!-- <label class="css-control css-control-sm css-control-primary css-switch">
        <input type="checkbox"
          class="css-control-input"
          :true-value="2"
          :false-value="1"
          @change="toggleStatus"
          v-model="form.status">
        <span class="css-control-indicator"></span>
      </label> -->
    </div>
    <div
      :class="{'c-read-only' : form.status == 1}"
      class="c-loader__box"
    >
      <FormLoader v-if="dataIsLoaded" />
      <div class="block block-themed">
        <div class="block-header bg-blue">
          <h3 class="block-title">
            Чат-бот
          </h3>
          <div class="block-options" />
        </div>
        <div class="block-content pb-4">
          <inputField
            v-model="form.title"
            v-validate="'required'"
            label-text="Имя чат-бота"
            name="title"
            :value="form.title"
            :error="errors.first('settings.title')"
          />
        </div>
      </div>
      <div class="block block-themed">
        <div class="block-header bg-blue">
          <h3 class="block-title">
            Сбор контактов
          </h3>
          <div class="block-options" />
        </div>
        <div class="block-content pb-4">
          <div class="d-flex justify-content-between align-items-center mb-30">
            <h4 class="mb-0">
              Телефон
            </h4>
            <label class="css-control css-control-sm css-control-green css-switch">
              <input
                v-model="form.contact_setting.phone_status"
                type="checkbox"
                class="css-control-input"
                :true-value="2"
                :false-value="1"
              >
              <span class="css-control-indicator" />
            </label>
          </div>

          <inputField
            v-model="form.contact_setting.phone_hints"
            v-validate="form.contact_setting.phone_status == 2 ? 'required' : ''"
            label-text="Текст подсказки"
            name="contact_setting.phone_hints"
            :value="form.contact_setting.phone_hints"
            :disabled="form.contact_setting.phone_status != 2"
            :error="errors.first('settings.contact_setting.phone_hints')"
          />

          <inputField
            v-model="form.contact_setting.phone_mask"
            v-validate="{required: form.contact_setting.phone_status == 2, regex: /^([-+#()\d]+)$/}"
            label-text="Маска телефона"
            name="contact_setting.phone_mask"
            :value="form.contact_setting.phone_mask"
            :disabled="form.contact_setting.phone_status != 2"
            :error="errors.first('settings.contact_setting.phone_mask')"
          />
          <div class="d-flex justify-content-between align-items-center mb-30">
            <h4 class="mb-0">
              Имя
            </h4>
            <label class="css-control css-control-sm css-control-green css-switch">
              <input
                v-model="form.contact_setting.name_status"
                type="checkbox"
                class="css-control-input"
                :true-value="2"
                :false-value="1"
              >
              <span class="css-control-indicator" />
            </label>
          </div>

          <inputField
            v-model="form.contact_setting.name_hints"
            v-validate="form.contact_setting.name_status == 2 ? 'required' : ''"
            label-text="Текст подсказки"
            name="contact_setting.name_hints"
            :value="form.contact_setting.name_hints"
            :disabled="form.contact_setting.name_status != 2"
            :error="errors.first('settings.contact_setting.name_hints')"
          />

          <div class="d-flex justify-content-between align-items-center mb-30">
            <h4 class="mb-0">
              Почта
            </h4>
            <label class="css-control css-control-sm css-control-green css-switch">
              <input
                v-model="form.contact_setting.email_status"
                type="checkbox"
                class="css-control-input"
                :true-value="2"
                :false-value="1"
              >
              <span class="css-control-indicator" />
            </label>
          </div>

          <inputField
            v-model="form.contact_setting.email_hints"
            v-validate="form.contact_setting.email_status == 2 ? 'required' : ''"
            label-text="Текст подсказки"
            name="contact_setting.email_hints"
            :value="form.contact_setting.email_hints"
            :disabled="form.contact_setting.email_status != 2"
            :error="errors.first('settings.contact_setting.email_hints')"
          />

          <div class="d-flex justify-content-between align-items-center mb-30">
            <h4 class="mb-0">
              Текст
            </h4>
          </div>

          <inputField
            v-model="form.contact_setting.message"
            v-validate="''"
            label-text=""
            name="contact_setting.message"
            :value="form.contact_setting.message"
            :error="errors.first('settings.contact_setting.message')"
          />
        </div>
      </div>
      <div class="block block-themed">
        <div class="block-header bg-blue">
          <h3 class="block-title">
            Управление формой благодарности
          </h3>
          <div class="block-options" />
        </div>
        <div class="block-content pb-4">
          <div class="d-flex justify-content-between align-items-center mb-30">
            <h4 class="mb-0">
              Текст
            </h4>
            <label class="css-control css-control-sm css-control-green css-switch">
              <input
                v-model="form.finish.message_status"
                type="checkbox"
                class="css-control-input"
                :true-value="2"
                :false-value="1"
              >
              <span class="css-control-indicator" />
            </label>
          </div>

          <inputField
            v-model="form.finish.message"
            v-validate="form.finish.message_status == 2 ? 'required' : ''"
            label-text="Заголовок"
            name="finish.message"
            :value="form.finish.message"
            :disabled="form.finish.message_status != 2"
            :error="errors.first('settings.finish.message')"
          />
          <inputField
            v-model="form.finish.sub_message"
            v-validate="form.finish.message_status == 2 ? 'required' : ''"
            label-text="Подзаголовок"
            name="finish.message"
            :value="form.finish.sub_message"
            :disabled="form.finish.message_status != 2"
            :error="errors.first('settings.finish.sub_message')"
          />

          <div class="d-flex justify-content-between align-items-center mb-30">
            <h4 class="mb-0">
              Переадресация после ответа
            </h4>
            <label class="css-control css-control-sm css-control-green css-switch">
              <input
                v-model="form.finish.redirect_url_status"
                type="checkbox"
                class="css-control-input"
                :true-value="2"
                :false-value="1"
              >
              <span class="css-control-indicator" />
            </label>
          </div>

          <inputField
            v-model="form.finish.redirect_url"
            v-validate="form.finish.redirect_url_status == 2 ? {required: true, url: {require_protocol: true }}: ''"
            label-text=""
            name="finish.redirect_url"
            :value="form.finish.redirect_url"
            :disabled="form.finish.redirect_url_status != 2"
            :error="errors.first('settings.finish.redirect_url')"
          />
        </div>
      </div>
      <div class="block block-themed">
        <div class="block-header bg-blue">
          <h3 class="block-title">
            Дизайн чат-бота
          </h3>
          <div class="block-options">
            <button
              class="btn btn-grey"
              type="button"
              @click.prevent="resetDesign"
            >
              <i class="fa fa-repeat mr-5" />Сброс
            </button>
          </div>
        </div>
        <div class="block-content pb-4">
          <div class="row mb-30">
            <imagePreview
              v-model="form.design.background"
              v-validate="''"
              class="col-md-4"
              title="Фон виджета"
              desc="Добавьте фоновое изображение"
              :image="form.design.background"
              name="design.background"
              :can-delete="true"
              :error="errors.first(`settings.design.background`)"
            />
            <imagePreview
              v-model="form.design.avatar"
              v-validate="'required'"
              class="col-md-4"
              title=" Аватар бота"
              desc="Добавьте аватар"
              :image="form.design.avatar"
              name="design.avatar"
              :error="errors.first(`settings.design.avatar`)"
            />
          </div>
          <inputField
            v-model="form.design.title"
            v-validate="'required'"
            label-text="Имя бота"
            name="design.title"
            :value="form.design.title"
            :error="errors.first('settings.design.title')"
          />

          <colorField
            v-model="form.design.background_color"
            v-validate="''"
            title="Задайте цвет фона"
            class="mb-20"
            name="design.background_color"
            :value="form.design.background_color"
            :error="errors.first('settings.design.background_color')"
          />
          <colorField
            v-model="form.design.question_color"
            v-validate="''"
            title="Задайте цвет вопросов"
            class="mb-20"
            name="design.question_color"
            :value="form.design.question_color"
            :error="errors.first('settings.design.question_color')"
          />
          <colorField
            v-model="form.design.answer_color"
            v-validate="''"
            title="Задайте цвет ответов"
            class="mb-20"
            name="design.answer_color"
            :value="form.design.answer_color"
            :error="errors.first('settings.design.answer_color')"
          />
          <colorField
            v-model="form.design.button_color"
            v-validate="''"
            title="Задайте цвет кнопки"
            class="mb-20"
            name="design.button_color"
            :value="form.design.button_color"
            :error="errors.first('settings.design.button_color')"
          />
          <colorField
            v-model="form.design.font_answer_color"
            v-validate="''"
            title="Цвет шрифта ответа"
            class="mb-20"
            name="design.font_answer_color"
            :value="form.design.font_answer_color"
            :error="errors.first('settings.design.font_answer_color')"
          />
          <colorField
            v-model="form.design.font_question_color"
            v-validate="''"
            title="Цвет шрифта вопроса"
            class="mb-20"
            name="design.font_question_color"
            :value="form.design.font_question_color"
            :error="errors.first('settings.design.font_question_color')"
          />
        </div>
      </div>
      <div class="d-flex justify-content-between pb-50">
        <a
          :href="`/chatbots/${form.id}/construction`"
          class="btn btn-grey"
        >К шагу 1</a>
        <div class="d-flex position-relative">
          <p
            v-show="errors.items.length"
            class="text-danger position-absolute top-100"
          >
            Заполните все обязательные поля
          </p>
          <button
            class="btn btn-green mr-5"
            type="button"
            :disabled="isLoading"
            @click="sendForm($event, false)"
          >
            <i
              v-show="isLoading && !isNextStep"
              class="fa fa-circle-o-notch fa-spin mr-5"
            />Сохранить
          </button>
          <button
            class="btn btn-green"
            type="button"
            :disabled="isLoading"
            @click="sendForm($event, true)"
          >
            <i
              v-show="isLoading && isNextStep"
              class="fa fa-circle-o-notch fa-spin mr-5"
            />Сохранить и к шагу 3
          </button>
        </div>
      </div>
    </div>
  </form>
</template>
<script>
import inputField from '@/js/components/inputField';
import imagePreview from '@/js/components/imagePreview';
import colorField from '@/js/components/colorField';
import Chatbot from '@/js/api/Chatbot';
import formResultsHandlers from '@/js/mixins/formResultsHandlers';
import objectToFormData from '@/js/helpers/objectToFormData';
import FormLoader from '@/js/components/FormLoader';

export default {
  components: {
    inputField,
    imagePreview,
    colorField,
    FormLoader
  },
  mixins: [formResultsHandlers],
  data() {
    return {
      form: {
        contact_setting: {
          email_hints: '',
          email_status: '2',
          name_hints: '',
          name_status: '2',
          phone_hints: '',
          phone_mask: '',
          phone_status: '2',
          message: ''
        },
        design: {
          answer_color: '',
          avatar: '',
          background: '',
          button_color: '',
          font_answer_color: '',
          font_question_color: '',
          question_color: '',
          background_color: '',
          title: ''
        },
        finish: {
          message: '',
          sub_message: '',
          message_status: '2',
          redirect_url: '',
          redirect_url_status: '2'
        },
        title: '',
        has_page: '1',
        id: 10,
        status: '2',
        title: 'Settings bot',
        user_id: 1,
        uuid: 'settings'
      },
      isLoading: false,
      dataIsLoaded: false,
      isNextStep: false,
      colors: '#194d33'
    };
  },
  async created() {
    this.dataIsLoaded = true;
    try {
      const { data } = await Chatbot.getSettings(window.settings.id);
      this.form = data;
      this.dataIsLoaded = false;
    } catch (error) {
      console.log('error', { error });
      this.dataIsLoaded = false;
    }
  },
  methods: {
    async sendForm(e, nextStep) {
      const valid = await this.$validator.validate('settings.*');
      if (!valid) return false;
      this.form._method = 'put';
      const data = objectToFormData(this.form);
      this.isLoading = true;
      if (nextStep) this.isNextStep = true;

      Chatbot.updateSettings(this.form.id, data)
        .then(res => {
          this.successSend(res);
          if (nextStep) {
            window.location.assign(`/chatbots/${this.form.id}/integration`);
            this.isNextStep = false;
          }
        })
        .catch(errors => {
          this.failSend(errors.response, 'template');
          this.isNextStep = false;
        });
    },
    // toggleStatus() {
    //   Chatbot.toggleStatus(this.form.id)
    //     .then(res => {
    //       Swal.fire({
    //         ...SwalConfig,
    //         title: "Успешно!",
    //         type: "success",
    //         showCancelButton: false
    //       });
    //     })
    //     .catch(error => {
    //       Swal.fire({
    //         ...SwalConfig,
    //         title: error.data.errors,
    //         type: "error",
    //         showCancelButton: false
    //       });
    //     });
    // },
    resetDesign() {
      Chatbot.resetDesign(this.form.id)
        .then(({ data }) => {
          this.form.design.answer_color = data.answer_color;
          this.form.design.button_color = data.button_color;
          this.form.design.font_answer_color = data.font_answer_color;
          this.form.design.font_question_color = data.font_question_color;
          this.form.design.question_color = data.question_color;
          this.form.design.background_color = data.background_color;
        })
        .catch(error => {
          Swal.fire({
            ...SwalConfig,
            title: error.data.errors,
            type: 'error',
            showCancelButton: false
          });
        });
    }
  }
};
</script>
