<template>
  <div>
    <div class=" mb-50">
      <h1>Установка</h1>
    </div>
    <div class="block c-loader__box">
      <FormLoader v-if="dataIsLoaded" />
      <ul
        class="nav nav-tabs nav-tabs-alt js-tabs-enabled"
        data-toggle="tabs"
        role="tablist"
      >
        <li class="nav-item">
          <a
            class="nav-link active"
            data-toggle="tab"
            href="#script_for_page"
          >Установка в готовый сайт</a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            data-toggle="tab"
            href="#script_for_button"
          >Кнопка</a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            data-toggle="tab"
            href="#page"
          >Прямая ссылка на страницу</a>
        </li>
      </ul>
      <div class="block-content tab-content">
        <div
          id="script_for_page"
          class="tab-pane active"
          role="tabpanel"
        >
          <h3 class="text-muted">
            Шаг 1: Укажите доменное имя сайта
          </h3>
          <inputField
            v-model="form.domain"
            v-validate="{url: {require_protocol: false }, required: true}"
            label-text=""
            name="domain"
            :value="form.domain"
            :send-button="true"
            :error="errors.first('domain')"
            @sendField="updateButtonSettings"
          />
          <h3 class="text-muted">
            Шаг 2: Вставьте указанный код в блок "head"
          </h3>
          <textarea
            id="scriptTemplate"
            name=""
            rows="14"
            readonly
            :value="transformAsScript(scriptTemplate)"
            class="form-control"
          />
          <div class="d-flex justify-content-end mt-20 mb-20">
            <copyBtn selector="#scriptTemplate" />
          </div>
          <h3 class="text-muted">
            Шаг 3: Вставьте селектор чат-бота в id элемента на странице сайта где он должен отображаться
          </h3>
          <div class="row  mt-20 mb-20">
            <div class="col">
              <input
                id="chatbotId"
                type="text"
                class="form-control"
                readonly
                :value="`<div id='v-leedbot_${chatbotUUId}'></div>`"
              >
            </div>
            <div class="col-auto">
              <copyBtn selector="#chatbotId" />
            </div>
          </div>
        </div>
        <div
          id="script_for_button"
          class="tab-pane"
          role="tabpanel"
        >
          <inputField
            v-model="form.domain"
            v-validate="{url: {require_protocol: false }, required: true}"
            label-text="Укажите доменное имя сайта"
            name="domain"
            :value="form.domain"
            :send-button="true"
            :error="errors.first('domain')"
            @sendField="updateButtonSettings"
          />
          <inputField
            v-model="form.button_text"
            v-validate="'required'"
            label-text="Текст кнопки"
            name="button_text"
            :value="form.button_text"
            :error="errors.first('button_text')"
          />
          <colorField
            v-model="form.button_color"
            v-validate="''"
            title="Цвет кнопки"
            class="mb-20"
            name="form.button_color"
            :value="form.button_color"
            :error="errors.first('button_color')"
          />
          <colorField
            v-model="form.text_color"
            v-validate="''"
            title="Цвет текста"
            class="mb-20"
            name="form.text_color"
            :value="form.text_color"
            :error="errors.first('text_color')"
          />
          <div class="d-flex align-items-center">
            <h4
              class="m-0 mr-10"
              style="min-width: 200px"
            >
              Пример:
            </h4>
            <button
              class="c-btn"
              :style="{background: form.button_color, color: form.text_color}"
            >
              {{ form.button_text }}
            </button>
          </div>
          <div class="d-flex align-items-center mt-20 mb-20">
            <button
              class="btn btn-grey mr-20"
              @click="resetButtonSettings"
            >
              <i class="fa fa-repeat mr-5" />Сбросить
            </button>
            <button
              class="btn btn-green"
              @click="updateButtonSettings"
            >
              <i class="fa fa-check mr-5" />Сохранить
            </button>
          </div>
          <textarea
            id="scriptTemplateButton"
            name=""
            rows="14"
            class="form-control"
            :value="transformAsScript(scriptTemplateButton)"
            readonly
          />
          <div class="d-flex justify-content-end mt-20 mb-20">
            <copyBtn selector="#scriptTemplateButton" />
          </div>
        </div>
        <div
          id="page"
          class="tab-pane"
          role="tabpanel"
        >
          <h3 class="text-muted">
            Ваша страница:
          </h3>
          <div class="mt-30 mb-30">
            <template v-if="page">
              <a
                :href="`/chatbots/${chatbotId}/page/show`"
                class="btn btn-grey"
              ><i class="fa fa-cog mr-5" /> Настройки страницы</a>
              <a
                :href="`${projectDomain}/page/${chatbotUUId}`"
                class="btn btn-green"
                target="_blank"
              ><i class="fa fa-eye mr-5" />Перейти на страницу</a>
              <copyBtn
                selector="#pageLink"
                title-btn="Скопировать ссылку"
              />

              <input
                id="pageLink"
                type="text"
                class="hidden"
                :value="`${projectDomain}/page/${chatbotUUId}`"
              >
            </template>
            <a
              v-else
              class="btn btn-blue"
              :href="`/chatbots/${chatbotId}/page/create`"
            ><i class="fa fa-plus mr-5" />Добавить страницу</a>
          </div>
        </div>
      </div>
    </div>

    <div class="d-flex justify-content-between pb-50">
      <a
        :href="`/chatbots/${chatbotId}/settings`"
        class="btn btn-grey"
      >К настройкам</a>
      <div class="d-flex">
        <a
          href="/"
          class="btn btn-green"
        >Завершить</a>
      </div>
    </div>
  </div>
</template>
<script>
import colorField from '@/js/components/colorField';
import inputField from '@/js/components/inputField';
import copyBtn from '@/js/components/copyBtn';
import Integration from '@/js/api/Integration';
import FormLoader from '@/js/components/FormLoader';

export default {
  components: {
    colorField,
    inputField,
    copyBtn,
    FormLoader
  },
  data() {
    return {
      form: {
        button_color: '',
        text_color: '',
        button_text: '',
        domain:  ''
      },
      haveDomain: window.appData && window.appData.domain ? true : false,
      page: window.pageData,
      chatbotId: window.chatbotId,
      chatbotUUId: window.chatbotUUId,
      projectDomain: process.env.MIX_APP_URL,
      infoMessage:
        'Для обеспечения безопасности и сохранности данных, необходимо указать доменное имя сайта, на котором планируете размещать чат-бот'
    };
  },
  computed: {
    scriptTemplate() {
      if (!this.haveDomain) return this.infoMessage;
      return `
          <!-- LeedBot script start -->
            <div src="${this.projectDomain}/widget/leedbot.js" type="application/javascript"></div>
            <div>
                document.addEventListener("DOMContentLoaded", function() {
                    new LeedBot({
                        id: '${this.chatbotUUId}',
                        type: 'default',
                        selector: '#v-leedbot_${this.chatbotUUId}'
                    });
                });
            </div>
            <!-- LeedBot script end -->
        `;
    },
    scriptTemplateButton() {
      if (!this.haveDomain) return this.infoMessage;
      return `
            <!-- LeedBot script start -->
            <div src="${this.projectDomain}/widget/leedbot.js" type="application/javascript"></div>
            <div>
                document.addEventListener("DOMContentLoaded", function() {
                    new LeedBot({
                        id: '${this.chatbotUUId}',
                        type: 'button',
                        selector: '#v-leedbot_${window.chatbotUUId}',
                        text: '${this.form.button_text}',
                        color: '${this.form.text_color}',
                        background: '${this.form.button_color}',
                    });
                });
            </div>
            <!-- LeedBot script end -->
        `;
    }
  },
  async created() {
    try {
      this.dataIsLoaded = true;
      const { data } = await Integration.get(window.chatbotId);
      this.form = data.data;
      this.dataIsLoaded = false;
    } catch (error) {
      this.dataIsLoaded = false;
      console.log('error', { error });
    }
  },
  methods: {
    async updateButtonSettings() {
      const valid = await this.$validator.validate();
      if (!valid) return;
      Integration.updateButton(this.chatbotId, this.form).then(({ data }) => {
        if (data.data.domain) this.haveDomain = true;
        Codebase.helpers('notify', {
          align: 'right',
          from: 'top',
          type: 'success',
          icon: 'fa fa-check mr-5',
          message: 'Настройки сохранены'
        });
      });
    },
    resetButtonSettings() {
      this.form = {
        button_color: '#c8e2f8',
        text_color: '#125a96',
        button_text: 'Пройти тест'
      };
    },
    transformAsScript(text) {
      return text.replace(/div/g, 'script');
    }
  }
};
</script>
