<template>
  <div>
    <h4>Детали связи:</h4>
    <p><b>От:</b> <span v-if="bindElements[0]">{{ bindElements[0].title }}</span></p>
    <p><b>До:</b> <span v-if="bindElements[1]"> {{ bindElements[1].title }}</span></p>
    <p class="text-muted">
      Для создания связи необходимо выбрать два блока
    </p>
    <button
      v-if="bindElements[0] && bindElements[0].type != 'info' && !bindElements[0].anyAnswer"
      class="btn btn-green"
      :disabled="isNotChoce"
      @click="openModal"
    >
      Добавить условие
    </button>
    <button
      v-else
      class="btn btn-sm btn-green"
      :disabled="isNotChoce"
      @click="addRelation"
    >
      Добавить связь
    </button>
  </div>
</template>

<script>
import 'bootstrap/js/dist/modal';
import checkRelationMixin from '@/js/modules/constructor/mixins/checkRelations';

export default {
  mixins: [checkRelationMixin],
  props: {
    bindElements: Array,
    elements: Array
  },
  computed: {
    isNotChoce() {
      return this.bindElements.length !== 2;
    }
  },
  methods: {
    openModal() {
      $('#relationModal').modal('show');
    },
    addRelation() {
      const data = {
        title: '',
        source: this.bindElements[0].id,
        target: this.bindElements[1].id,
        sourceData: this.bindElements[0],
        targetData: this.bindElements[1]
      };

      if (this.checkDuplicate(this.elements, data)) {
        Swal.fire({
          ...SwalConfig,
          title: 'Связь с данным условием уже существует',
          type: 'error',
          showCancelButton: false
        });
        return false;
      }

      if (this.checkMultiRelation(this.elements, data)) {
        Swal.fire({
          ...SwalConfig,
          title: 'Между данными блоками связь уже существует',
          type: 'error',
          showCancelButton: false
        });
        return false;
      }

      this.$emit('addRelation', [{ data }]);
    }
  }
};
</script>
