<template>
  <div>
    <h4>Детали связи:</h4>
    <p>От: {{ source.data.title }}</p>
    <p>До: {{ target.data.title }}</p>

    <h4 v-if="elementData.data.title">
      Условие:
    </h4>
    <inputField
      v-if="elementData.data.condition && elementData.data.condition.type"
      label-text="Тип сравнения"
      name="title"
      :value="elementData.data.condition.label"
      :disabled="true"
      input-class="col-md-12"
    />
    <inputField
      v-if="elementData.data.title"
      label-text="Ответ"
      name="title"
      :value="elementData.data.title"
      :disabled="true"
      input-class="col-md-12"
    />

    <button
      v-if="!elementData.data.sourceData.anyAnswer"
      class="btn btn-sm btn-green"
      @click="edit"
    >
      Редактировать условие
    </button>
    <button
      class="btn btn-sm btn-grey"
      @click="remove"
    >
      Удалить
    </button>
  </div>
</template>

<script>
import inputField from '@/js/components/inputField';
import TYPE_QUESTION from '@/js/modules/constructor/config/typesQuestions';
// import CONDITION_TYPES from "@/js/modules/constructor/config/conditionTypes";
export default {
  components: {
    inputField
  },
  props: {
    elementData: Object,
    elements: Array
  },
  data() {
    return {
      //   condition: CONDITION_TYPES
    };
  },
  computed: {
    source() {
      return this.elements.filter(
        el => el.data.id == this.elementData.data.source
      )[0];
    },
    target() {
      return this.elements.filter(
        el => el.data.id == this.elementData.data.target
      )[0];
    }
  },
  methods: {
    remove() {
      this.$emit('removeElement', this.elementData.data.id);
    },
    edit() {
      this.$emit('openEditRelationModal', this.elementData.data.id);
    }
  }
};
</script>
