<template>
  <div
    class="details"
    :class="{'open': open}"
  >
    <div
      class="details__open"
      @click="toggleDetails"
    >
      <i class="si si-grid" />
    </div>
    <div class="block">
      <ul
        class="nav nav-tabs nav-tabs-block js-tabs-enabled"
        data-toggle="tabs"
        role="tablist"
      >
        <li class="nav-item">
          <span
            class="nav-link"
            :class="{'active' : view == 'nodes'}"
            @click="changeView('nodes')"
          >Список блоков</span>
        </li>
        <!-- <li class="nav-item">
          <span class="nav-link"
            :class="{'active' : view == 'relations'}"
            @click="changeView('relations')">Связи</span>
        </li> -->
        <li class="nav-item">
          <span
            class="nav-link"
            :class="{'active' : view == 'details'}"
            @click="changeView('details')"
          >Детали</span>
        </li>
        <li class="nav-item ml-auto">
          <a class="nav-link">
            <i
              class="si si-close details__close"
              @click="close"
            />
          </a>
        </li>
      </ul>
      <div class="block-content tab-content pb-20">
        <div
          class="tab-pane"
          :class="{'active' : view == 'nodes'}"
        >
          <listElements
            :elements="elements"
            :select-element-id="selectElementId"
            type-list="nodes"
            v-on="$listeners"
          />
        </div>
        <!-- <div class="tab-pane"
          :class="{'active' : view == 'relations'}">
          <listElements :elements="elements"
            typeList="edges" />
        </div> -->
        <div
          class="tab-pane"
          :class="{'active' : view == 'details'}"
        >
          <nodeView
            v-if="typeView == 'node' && elementData"
            :element-data="elementData"
            @openEditModal="openEditModal"
            @removeElement="removeElement"
          />
          <edgeView
            v-else-if="typeView == 'edge' && elementData"
            :element-data="elementData"
            :elements="elements"
            @removeElement="removeElement"
            @openEditRelationModal="openEditRelationModal"
          />
          <bindView
            v-else-if="typeView == 'bind'"
            :bind-elements="bindElements"
            :elements="elements"
            @addRelation="addRelation"
          />
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import nodeView from './nodeView';
import edgeView from './edgeView';
import bindView from './bindView';
import listElements from './listElements';
export default {
  components: {
    nodeView,
    edgeView,
    bindView,
    listElements
  },
  props: {
    typeView: String,
    elementData: Object,
    open: {
      type: Boolean,
      default: false
    },
    bindMode: {
      type: Boolean,
      default: false
    },
    view: String,
    selectElementId: {
      default: null
    },
    bindElements: Array,
    elements: Array,
    addRelation: Function,
    removeElement: Function,
    openEditModal: Function,
    openEditRelationModal: Function
  },
  methods: {
    close() {
      this.$emit('close');
    },
    toggleDetails() {
      this.$emit('toggle');
    },
    changeView(type) {
      this.$emit('changeView', type);
    }
  }
};
</script>
<style lang="scss">
.details {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  width: 320px;
  height: 100%;
  transition: transform 1s;
  background-color: #fff;
  box-shadow: 0 0 20px -5px #ccc;
  transform: translateX(101%);
  //   padding: 20px 15px;
  &.open {
    transform: translateY(0);
  }
  .block {
    height: 100%;
    &-content {
      max-height: calc(100% - 47px);
      overflow: auto;
    }
  }
  &__open {
    position: absolute;
    top: 47px;
    right: 100%;
    padding: 10px 15px;
    background-color: #ffffff;
    box-shadow: -15px 0 25px -6px #e6e2e2;
    cursor: pointer;
    &:hover {
      color: #125a96;
    }
  }
  &__close {
    // position: absolute;
    // right: 10px;
    // top: 10px;
    z-index: 10;
    font-size: 17px;
    color: #5b83f2;
    cursor: pointer;
  }
}
</style>
