<template>
  <div>
    <input type="text"
      class="form-control mb-20"
      v-model.trim="search"
      placeholder="Поиск на названию">
    <div class="list-group list-overflow">
      <span class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
        :class="{'active' : item.data.id == selectElementId}"
        v-for="item in filtredList"
        @click="selectElement(item.data.id)"
        :key="item.data.id">
        <span><i class="si mr-5"
            :class="ICONS[item.data.type]"></i>
          <span v-if="typeList == 'nodes'">{{item.data.title}}</span>
          <span v-else>От: {{item.data.sourceData.title}} <br>
            До: {{item.data.targetData.title}}
          </span>
        </span>
        <span class="list-group-options">
          <i class="si si-eye mr-5"
            @click="editElement(item.data.id)"></i>
          <i class="si si-trash"
            @click="deleteElement(item.data.id)"></i>
        </span>
      </span>
      <span v-show="!filtredList.length">Список пуст</span>
    </div>
  </div>
</template>
<script>
import { ICONS } from "../config/labelConfig";
export default {
  props: {
    elements: Array,
    selectElementId: {
      default: null
    },
    typeList: {
      type: String,
      default: "nodes"
    }
  },
  data() {
    return {
      search: "",
      ICONS
    };
  },
  methods: {
    editElement(id) {
      this.$emit("editElement", id);
    },
    deleteElement(id) {
      this.$emit("deleteElement", id);
    },
    selectElement(id) {
      this.$emit("selectElement", id);
    }
  },
  computed: {
    nodes() {
      return this.elements.filter(el => !el.data.source);
    },
    edges() {
      return this.elements.filter(el => el.data.source);
    },
    filtredList() {
      if (this.search.length) {
        return this[this.typeList].filter(el => {
          if (typeof el.data.title != "string") {
            return el;
          } else if (
            el.data.title.toLowerCase().includes(this.search.toLowerCase())
          ) {
            return el;
          }
        });
      } else {
        return this[this.typeList];
      }
    }
  }
};
</script>
<style lang="scss">
.list-overflow {
  height: 61vh;
  overflow: auto;
}
.list-group-item {
  margin-top: 5px;
  margin-bottom: 5px;
  cursor: pointer;
}
.list-group-options {
  flex-shrink: 0;
  margin-left: 10px;
  i {
    transition: color 0.5s;
    &:hover {
      color: #125a96;
    }
  }
}
</style>
