<template>
  <div>
    <div class="d-flex align-items-center mb-30">
      <i
        class="si mr-10"
        :class="ICONS[elementData.data.type]"
      />
      {{ TYPE_QUESTION[elementData.data.type] }}
    </div>
    <inputField
      label-text="Наименование вопроса"
      name="title"
      :value="elementData.data.title"
      :disabled="true"
      input-class="col-md-12"
    />
    <inputField
      v-for="(answer, i) in elementData.data.answers"
      v-show="elementData.data.answers.length"
      :key="i"
      :label-text="`Ответ ${i + 1}` "
      name="title"
      :value="answer"
      :disabled="true"
      input-class="col-md-12"
    />

    <button
      class="btn btn-sm btn-blue"
      @click="edit"
    >
      Редактировать
    </button>
    <button
      class="btn btn-sm btn-grey"
      @click="remove"
    >
      Удалить
    </button>
  </div>
</template>

<script>
import { ICONS } from '../config/labelConfig';
import TYPE_QUESTION from '../config/typesQuestions';
import inputField from '@/js/components/inputField';
export default {
  components: {
    inputField
  },
  props: {
    elementData: Object
  },
  data() {
    return {
      ICONS: ICONS,
      TYPE_QUESTION: TYPE_QUESTION
    };
  },
  methods: {
    remove() {
      this.$emit('removeElement', this.elementData.data.id);
    },
    edit() {
      this.$emit('openEditModal', this.elementData.data.id);
    }
  }
};
</script>
