<template>
  <div>
    <form
      class="block-content c-loader__box"
      data-vv-scope="block"
    >
      <FormLoader v-if="dataIsLoaded" />
      <inputField
        v-model="form.title"
        v-validate="{
          required: form.email_status == 2,
        }"
        label-text="Тема письма"
        name="title"
        :disabled="form.email_status == 1"
        :value="form.title"
        input-class="col-md-12"
        :error="errors.first('block.title')"
      />

      <div>
        <div
          v-for="(email, i) in form.emails"
          :key="i"
          class="form-group"
        >
          <div class="input__box">
            <inputField
              v-model="form.emails[i]"
              v-validate="{
                required: form.email_status == 2,
                email: true
              }"
              :disabled="form.email_status == 1"
              :label-text="`Email - ${i + 1}`"
              :name="`email${i}`"

              :value="form.emails[i]"
              input-class="col-md-12"
              :error="errors.first(`block.email${i}`)"
            />
            <i
              v-show="form.emails.length > 1 && form.email_status == 2"
              class="fa fa-times"
              aria-hidden="true"
              style="color: red;"
              @click="deleteEmail(i)"
            />
          </div>
        </div>
        <button
          class="btn btn-blue mb-20"
          type="button"
          :disabled="form.email_status == 1"
          @click="addEmail"
        >
          <i class="fa fa-plus" />
          Добавить email
        </button>
        <div class="mb-2">
          <label class="css-control css-control-sm css-control-green css-switch">
            <input
              v-model="form.email_status"
              type="checkbox"
              class="css-control-input"
              :true-value="2"
              :false-value="1"
              @change="toggleStatus"
            >
            <span class="css-control-indicator" /> Включить интеграцию с e-mail
          </label>
        </div>
      </div>
    </form>
    <div class="modal-footer">
      <button
        type="button"
        :disabled="form.email_status == 1"
        class="btn btn-grey"
        @click="resolveData"
      >
        Отменить
      </button>
      <button
        type="button"
        :disabled="form.email_status == 1"
        class="btn btn-green"
        @click="send"
      >
        <i class="fa fa-check" /> Сохранить
      </button>
    </div>
  </div>
</template>
<script>
import Integrations from '@/js/api/Integrations';
import inputField from '@/js/components/inputField';
import FormLoader from '@/js/components/FormLoader';
import cloneDeep from 'lodash/cloneDeep';
import formResultsHandlers from '@/js/mixins/formResultsHandlers';
import 'bootstrap/js/dist/modal';

export default {
  name: 'EmailModal',
  components: {
    inputField,
    FormLoader
  },
  mixins: [formResultsHandlers],
  props: {
    chatBotId: {
      type: [String, Number],
      default: null
    },
    emails: {
      type: Object,
      default(){
        return {}
      }
    }
  },

  data() {
    return {
      form: {
        title: '',
        email_status: 1,
        emails: [''],
      },
      dataIsLoaded: false,
    };
  },
  watch: {
    emails: function(newVal) {
      this.form = cloneDeep(newVal);
    },
  },
  methods: {
    async send() {
      const valid = await this.$validator.validate('block.*');
      if (!valid) return false;
      this.dataIsLoaded = true;
      try {
        const {data} = await Integrations.updateEmails(this.form, this.chatBotId);
        this.$emit('update', data.data);
        this.dataIsLoaded = false;
        this.successSend(data);
        $('#emailModal').modal('hide');
      } catch (error) {
        console.log('error', {error});
        this.failSend(error.response, 'block');
        this.dataIsLoaded = false;
      }
    },
    addEmail() {
      this.form.emails.push('');
    },
    deleteEmail(i) {
      this.form.emails.splice(i, 1);
    },
    clearData() {
      this.form = {
        title: '',
        email_status: 2,
        emails: [''],
      };
      this.$nextTick(() => this.$validator.reset());
    },
    resolveData(){
      this.form = cloneDeep(this.emails);
      $('#emailModal').modal('hide');
    },
    async toggleStatus() {

      try {
        const {email_status} = this.form;
        const {data} = await Integrations.toggleStatusEmail({email_status}, this.chatBotId);
        Swal.fire({
          ...SwalConfig,
          title: 'Успешно!',
          type: 'success',
          showCancelButton: false
        });

        this.$emit('update', this.form);

      } catch (error) {
        this.form.email_status = this.emails.email_status;
        Swal.fire({
          ...SwalConfig,
          title: error.data.errors,
          type: 'error',
          showCancelButton: false
        });

      }
    },
  },

};
</script>
