<template>
  <div>
    <h1>Интеграции</h1>
    <div class="row">
      <div
        class="col-md-4"
      >
        <a
          class="block block-rounded block-bordered block-link-shadow text-right"
          @click.prevent="openEmailModal"
        >
          <div class="block-content block-content-full clearfix">
            <div class="float-left d-none d-sm-block">
              <i class="si si-envelope fa-5x text-primary" />
            </div>
            <div class="font-size-h3 font-w600 ">
              Email
            </div>
            <div
              v-show="emails.email_status"
              class="font-size-sm font-w600"
            >
              <span
                class="badge badge-pill "
                :class="emailBadge.class"
              ><i
                class="fa mr-5"
                :class="emailBadge.icon"
              />{{ emailBadge.title }}</span>
            </div>
          </div>
        </a>
      </div>
    </div>
    <Modal
      title="Управление e-mail интеграцией"
      id-modal="emailModal"
    >
      <EmailModal
        :emails="emails"
        :chat-bot-id="chatBotId"
        @update="updateEmails"
      />
    </Modal>
    <FormLoader v-show="dataIsLoaded" />
  </div>
</template>
<script>
import Integrations from '@/js/api/Integrations';
import Modal from '@/js/components/Modal';
import EmailModal from './EmailModal';
import FormLoader from '@/js/components/FormLoader';
import 'bootstrap/js/dist/modal';

export default {
  name: 'IntegrationList',
  components: {
    Modal,
    EmailModal,
    FormLoader
  },
  data() {
    return {
      emails: {
      },
      chatBotId: window.appData.chatbotId || null,
      dataIsLoaded: false
    }
  },
  computed: {
    emailBadge(){
      return {
        class: this.emails.email_status == 2 ? 'badge-success' : 'badge-danger',
        title: this.emails.email_status == 2 ? 'Включено' : 'Выключено',
        icon: this.emails.email_status == 2 ? 'fa-check ' : 'fa-times'
      }
    }
  },
  created(){
    this.getEmails();
  },
  methods: {
    openEmailModal(){
      $('#emailModal').modal('show');
    },
    async getEmails(){
      try {
        this.dataIsLoaded = true;
        const {data} = await Integrations.getEmails(this.chatBotId);
        this.emails = data.data;
        this.dataIsLoaded = false;
      } catch (error) {
        console.log('error', {error});
        this.dataIsLoaded = false;
      }
    },
    updateEmails(data){
      this.emails = data;
    },


  }
};
</script>
