<template>
  <div>
    <div class="block">
      <div class="block-header block-header-default">
        <h3 class="block-title">
          Заявки по чат-боту
        </h3>
        <div class="block-options">
          <button
            class="btn btn-green mr-15"
            type="button"
            :disabled="!requests.length"
            @click="exportRequests"
          >
            <i class="fa fa-download mr-5" />Экспорт в xls
          </button>
          <span>Выбрать чат-бот:</span>
          <div class="d-inline-flex">
            <select
              v-model="currentId"
              class="form-control "
              @change="changeBot"
            >
              <option
                v-for="chatbot in chatbots"
                :key="chatbot.id"
                :value="chatbot.id"
              >
                {{ chatbot.title }}
              </option>
            </select>
          </div>
        </div>
      </div>
      <div class="block-content">
        <div
          v-if="requests.length"
          class="table-responsive"
        >
          <table class="table table-striped table-vcenter">
            <thead>
              <tr>
                <th>№</th>
                <th>Дата</th>
                <th>Имя</th>
                <th>Email</th>
                <th>Телефон</th>
                <th
                  class="text-right"
                  style="width: 100px;"
                />
              </tr>
            </thead>
            <tbody>
              <tr
                v-for="(request, i) in requests"
                :key="request.id"
              >
                <td>{{ getIndex(i) }}</td>

                <td>{{ formatDate(request.created_at) }}</td>
                <td>{{ request.name }}</td>
                <td>{{ request.email }}</td>
                <td><a :href="`tel:${ request.phone }`">{{ request.phone }}</a></td>
                <td>
                  <button
                    type="button"
                    class="btn btn-sm btn-circle btn-alt-primary mr-5 mb-5"
                    @click="openChatModal(request.id)"
                  >
                    <i class="fa fa-eye" />
                  </button>
                  <button
                    type="button"
                    class="btn btn-sm btn-circle btn-alt-danger mr-5 mb-5"
                    @click="deleteRequest(request.id)"
                  >
                    <i class="fa fa-times" />
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <p
          v-else
          class="text-center"
        >
          <span v-if="currentId">Заявки отсуствуют</span>
          <span v-else>Выберите чат-бот</span>
        </p>
      </div>
    </div>
    <Pagination
      :params="params"
      :paginate="paginate"
      @changePage="changePage"
    />
    <Modal
      title="Просмотр чата"
      size-class="modal-lg"
      id-modal="chatModal"
    >
      <Chat
        v-if="model"
        :model="model"
        :config="currentBot"
        :dialog-preview="currentDialog"
        type-render="modal"
      />
    </Modal>
  </div>
</template>

<script>
import Requests from '@/js/api/Requests';
import Pagination from '@/js/components/pagination';
import Modal from '@/js/components/Modal';
import Chat from '@/js/modules/chat';
import 'bootstrap/js/dist/modal';
import moment from 'moment';

const FileSaver = require('file-saver');

export default {
  components: {
    Pagination,
    Modal,
    Chat
  },
  data() {
    return {
      params: {
        page: 1,
        count: 20
      },
      paginate: {
        current_page: 0,
        to: 0,
        from: 0,
        last_page: 0
      },
      requests: [],
      chatbots: window.chatbots || '',
      currentId: window.chatbotId ? Number(window.chatbotId) : null,
      loadingData: false,
      currentRequestId: null
    };
  },
  computed: {
    currentBot() {
      return this.chatbots.filter(el => el.id == this.currentId)[0];
    },
    currentDialog() {
      const currentRequest = this.requests.filter(
        el => el.id == this.currentRequestId
      );
      if (!currentRequest.length) return [];
      return JSON.parse(currentRequest[0].messages);
    },
    model() {
      if (
        this.currentBot &&
        this.currentBot.construction &&
        !Array.isArray(this.currentBot.construction.construction)
      ) {
        return JSON.parse(this.currentBot.construction.construction);
      }
    }
  },
  mounted() {
    if (this.currentId) this.getAll(this.params);
  },
  methods: {
    getAll(params) {
      Codebase.layout('header_loader_on');
      Requests.get(this.currentId, params)
        .then(({ data }) => {
          this.requests = data.data;
          this.paginate = {
            current_page: data.current_page,
            to: data.to,
            from: data.from,
            last_page: data.last_page
          };
          Codebase.layout('header_loader_off');
        })
        .catch(() => Codebase.layout('header_loader_off'));
    },
    changePage(page) {
      this.params.page = page;
      this.getAll(this.params);
    },
    changeBot() {
      this.getAll({ page: 1, count: this.params.count });
    },
    deleteRequest(requestId) {
      Swal.fire({
        ...SwalConfig,
        title: 'Удалить?',
        type: 'question',
        showCancelButton: true
      }).then(res => {
        if (res && res.value == true) {
          Requests.delete(this.currentId, requestId).then(({ data }) => {
            Swal.fire({
              ...SwalConfig,
              title: 'Запрос удален',
              type: 'success',
              showCancelButton: false
            });
            this.getAll({ page: 1, count: this.params.count });
          });
        }
      });
    },
    exportRequests() {
      Codebase.layout('header_loader_on');
      Requests.export(this.currentId)
        .then(response => {
          const blob = new Blob([response.data], {
            type: 'application/xls'
          });
          const fileName = `Export_file_${this.currentBot.title}.xls`;
          FileSaver.saveAs(blob, fileName);
          Codebase.layout('header_loader_off');
        })
        .catch(() => Codebase.layout('header_loader_off'));
    },
    getIndex(index) {
      return this.paginate.from + index;
    },
    openChatModal(id) {
      this.currentRequestId = id;
      $('#chatModal').modal('show');
    },
    formatDate(date){
      if(!date) return false;
      return moment(date, 'YYYY-MM-DD HH:mm:ss').format('DD.MM.YYYY HH:mm');
    }
  }
};
</script>
